openapi: 3.0.3
info:
  title: Infisical Admin Secret Scanning API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: Secret Scanning
paths:
  /api/v2/secret-scanning/data-sources/options:
    get:
      operationId: listSecretScanningDataSourceOptions
      tags:
      - Secret Scanning
      description: List the available Secret Scanning Data Source Options.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSourceOptions:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - GitHub
                          connection:
                            type: string
                            enum:
                            - github-radar
                          type:
                            type: string
                            enum:
                            - github
                        required:
                        - name
                        - connection
                        - type
                        additionalProperties: false
                        title: GitHub
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Bitbucket
                          connection:
                            type: string
                            enum:
                            - bitbucket
                          type:
                            type: string
                            enum:
                            - bitbucket
                        required:
                        - name
                        - connection
                        - type
                        additionalProperties: false
                        title: Bitbucket
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - GitLab
                          connection:
                            type: string
                            enum:
                            - gitlab
                          type:
                            type: string
                            enum:
                            - gitlab
                        required:
                        - name
                        - connection
                        - type
                        additionalProperties: false
                        title: GitLab
                required:
                - dataSourceOptions
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v2/secret-scanning/data-sources:
    get:
      operationId: listSecretScanningDataSources
      tags:
      - Secret Scanning
      description: List all the Secret Scanning Data Sources for the specified project.
      parameters:
      - schema:
          type: string
          minLength: 1
        in: query
        name: projectId
        required: true
        description: The ID of the project to list Scanning Data Sources from.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSources:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          externalId:
                            type: string
                            nullable: true
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          encryptedCredentials:
                            nullable: true
                          isAutoScanEnabled:
                            type: boolean
                            default: true
                            nullable: true
                          projectId:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          isDisconnected:
                            type: boolean
                            default: false
                          type:
                            type: string
                            enum:
                            - github
                          connectionId:
                            type: string
                            format: uuid
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - github-radar
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          config:
                            type: object
                            properties:
                              includeRepos:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                  maxLength: 256
                                minItems: 1
                                maxItems: 100
                                default:
                                - '*'
                                description: The repositories to include when scanning. Defaults to all repositories (["*"]).
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - projectId
                        - createdAt
                        - updatedAt
                        - type
                        - connectionId
                        - connection
                        - config
                        additionalProperties: false
                        title: GitHub
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          externalId:
                            type: string
                            nullable: true
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          encryptedCredentials:
                            nullable: true
                          isAutoScanEnabled:
                            type: boolean
                            default: true
                            nullable: true
                          projectId:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          isDisconnected:
                            type: boolean
                            default: false
                          type:
                            type: string
                            enum:
                            - bitbucket
                          connectionId:
                            type: string
                            format: uuid
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - bitbucket
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          config:
                            type: object
                            properties:
                              workspaceSlug:
                                type: string
                                minLength: 1
                                maxLength: 128
                                description: The workspace to scan.
                              includeRepos:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                  maxLength: 256
                                minItems: 1
                                maxItems: 100
                                default:
                                - '*'
                                description: The repositories to include when scanning. Defaults to all repositories (["*"]).
                            required:
                            - workspaceSlug
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - projectId
                        - createdAt
                        - updatedAt
                        - type
                        - connectionId
                        - connection
                        - config
                        additionalProperties: false
                        title: Bitbucket
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          externalId:
                            type: string
                            nullable: true
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          encryptedCredentials:
                            nullable: true
                          isAutoScanEnabled:
                            type: boolean
                            default: true
                            nullable: true
                          projectId:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          isDisconnected:
                            type: boolean
                            default: false
                          type:
                            type: string
                            enum:
                            - gitlab
                          connectionId:
                            type: string
                            format: uuid
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - gitlab
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          config:
                            anyOf:
                            - type: object
                              properties:
                                scope:
                                  type: string
                                  enum:
                                  - group
                                  description: The GitLab scope scanning should occur at (project or group level).
                                groupId:
                                  type: number
                                  description: The ID of the group to scan projects from.
                                groupName:
                                  type: string
                                  maxLength: 256
                                  description: The name of the group to scan projects from.
                                includeProjects:
                                  type: array
                                  items:
                                    type: string
                                    minLength: 1
                                    maxLength: 256
                                  minItems: 1
                                  maxItems: 100
                                  default:
                                  - '*'
                                  description: The projects to include when scanning. Defaults to all projects (["*"]).
                              required:
                              - scope
                              - groupId
                              additionalProperties: false
                            - type: object
                              properties:
                                scope:
                                  type: string
                                  enum:
                                  - project
                                  description: The GitLab scope scanning should occur at (project or group level).
                                projectName:
                                  type: string
                                  maxLength: 256
                                  description: The name of the project to scan.
                                projectId:
                                  type: number
                                  description: The ID of the project to scan.
                              required:
                              - scope
                              - projectId
                              additionalProperties: false
                        required:
                        - id
                        - name
                        - projectId
                        - createdAt
                        - updatedAt
                        - type
                        - connectionId
                        - connection
                        - config
                        additionalProperties: false
                        title: GitLab
                required:
                - dataSources
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v2/secret-scanning/findings:
    get:
      operationId: listSecretScanningFindings
      tags:
      - Secret Scanning
      description: List all the Secret Scanning Findings for the specified project.
      parameters:
      - schema:
          type: string
          minLength: 1
        in: query
        name: projectId
        required: true
        description: The ID of the project to list Secret Scanning Findings from.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  findings:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          dataSourceName:
                            type: string
                          resourceName:
                            type: string
                          rule:
                            type: string
                          severity:
                            type: string
                          status:
                            type: string
                            default: unresolved
                          remarks:
                            type: string
                            nullable: true
                          fingerprint:
                            type: string
                          projectId:
                            type: string
                          scanId:
                            type: string
                            format: uuid
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          resourceType:
                            type: string
                            enum:
                            - repository
                          dataSourceType:
                            type: string
                            enum:
                            - github
                          details:
                            type: object
                            properties:
                              description:
                                type: string
                              startLine:
                                type: number
                              endLine:
                                type: number
                              startColumn:
                                type: number
                              endColumn:
                                type: number
                              file:
                                type: string
                              link:
                                type: string
                              symlinkFile:
                                type: string
                              commit:
                                type: string
                              entropy:
                                type: number
                              author:
                                type: string
                              email:
                                type: string
                              date:
                                type: string
                              message:
                                type: string
                              tags:
                                type: array
                                items:
                                  type: string
                              ruleID:
                                type: string
                              fingerprint:
                                type: string
                            required:
                            - description
                            - startLine
                            - endLine
                            - startColumn
                            - endColumn
                            - file
                            - link
                            - symlinkFile
                            - commit
                            - entropy
                            - author
                            - email
                            - date
                            - message
                            - tags
                            - ruleID
                            - fingerprint
                            additionalProperties: false
                        required:
                        - id
                        - dataSourceName
                        - resourceName
                        - rule
                        - severity
                        - fingerprint
                        - projectId
                        - createdAt
                        - updatedAt
                        - resourceType
                        - dataSourceType
                        - details
                        additionalProperties: false
                        title: GitHub
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          dataSourceName:
                            type: string
                          resourceName:
                            type: string
                          rule:
                            type: string
                          severity:
                            type: string
                          status:
                            type: string
                            default: unresolved
                          remarks:
                            type: string
                            nullable: true
                          fingerprint:
                            type: string
                          projectId:
                            type: string
                          scanId:
                            type: string
                            format: uuid
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          resourceType:
                            type: string
                            enum:
                            - repository
                          dataSourceType:
                            type: string
                            enum:
                            - bitbucket
                          details:
                            type: object
                            properties:
                              description:
                                type: string
                              startLine:
                                type: number
                              endLine:
                                type: number
                              startColumn:
                                type: number
                              endColumn:
                                type: number
                              file:
                                type: string
                              link:
                                type: string
                              symlinkFile:
                                type: string
                              commit:
                                type: string
                              entropy:
                                type: number
                              author:
                                type: string
                              email:
                                type: string
                              date:
                                type: string
                              message:
                                type: string
                              tags:
                                type: array
                                items:
                                  type: string
                              ruleID:
                                type: string
                              fingerprint:
                                type: string
                            required:
                            - description
                            - startLine
                            - endLine
                            - startColumn
                            - endColumn
                            - file
                            - link
                            - symlinkFile
                            - commit
                            - entropy
                            - author
                            - email
                            - date
                            - message
                            - tags
                            - ruleID
                            - fingerprint
                            additionalProperties: false
                        required:
                        - id
                        - dataSourceName
                        - resourceName
                        - rule
                        - severity
                        - fingerprint
                        - projectId
                        - createdAt
                        - updatedAt
                        - resourceType
                        - dataSourceType
                        - details
                        additionalProperties: false
                        title: Bitbucket
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          dataSourceName:
                            type: string
                          resourceName:
                            type: string
                          rule:
                            type: string
                          severity:
                            type: string
                          status:
                            type: string
                            default: unresolved
                          remarks:
                            type: string
                            nullable: true
                          fingerprint:
                            type: string
                          projectId:
                            type: string
                          scanId:
                            type: string
                            format: uuid
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          resourceType:
                            type: string
                            enum:
                            - project
                          dataSourceType:
                            type: string
                            enum:
                            - gitlab
                          details:
                            type: object
                            properties:
                              description:
                                type: string
                              startLine:
                                type: number
                              endLine:
                                type: number
                              startColumn:
                                type: number
                              endColumn:
                                type: number
                              file:
                                type: string
                              link:
                                type: string
                              symlinkFile:
                                type: string
                              commit:
                                type: string
                              entropy:
                                type: number
                              author:
                                type: string
                              email:
                                type: string
                              date:
                                type: string
                              message:
                                type: string
                              tags:
                                type: array
                                items:
                                  type: string
                              ruleID:
                                type: string
                              fingerprint:
                                type: string
                            required:
                            - description
                            - startLine
                            - endLine
                            - startColumn
                            - endColumn
                            - file
                            - link
                            - symlinkFile
                            - commit
                            - entropy
                            - author
                            - email
                            - date
                            - message
                            - tags
                            - ruleID
                            - fingerprint
                            additionalProperties: false
                        required:
                        - id
                        - dataSourceName
                        - resourceName
                        - rule
                        - severity
                        - fingerprint
                        - projectId
                        - createdAt
                        - updatedAt
                        - resourceType
                        - dataSourceType
                        - details
                        additionalProperties: false
                        title: GitLab
                required:
                - findings
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    patch:
      operationId: updateSecretScanningFindingsBatch
      tags:
      - Secret Scanning
      description: Update one or more Secret Scanning Findings in a batch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  findingId:
                    type: string
                    minLength: 1
                    description: The ID of the Secret Scanning Finding to update.
                  status:
                    type: string
                    enum:
                    - resolved
                    - unresolved
                    - false-positive
                    - ignore
                    description: The updated status of the specified Secret Scanning Finding.
                  remarks:
                    type: string
                    nullable: true
                    description: Remarks pertaining to the status of this finding.
                required:
                - findingId
                additionalProperties: false
              maxItems: 500
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  findings:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          dataSourceName:
                            type: string
                          resourceName:
                            type: string
                          rule:
                            type: string
                          severity:
                            type: string
                          status:
                            type: string
                            default: unresolved
                          remarks:
                            type: string
                            nullable: true
                          fingerprint:
                            type: string
                          projectId:
                            type: string
                          scanId:
                            type: string
                            format: uuid
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          resourceType:
                            type: string
                            enum:
                            - repository
                          dataSourceType:
                            type: string
                            enum:
                            - github
                          details:
                            type: object
                            properties:
                              description:
                                type: string
                              startLine:
                                type: number
                              endLine:
                                type: number
                              startColumn:
                                type: number
                              endColumn:
                                type: number
                              file:
                                type: string
                              link:
                                type: string
                              symlinkFile:
                                type: string
                              commit:
                                type: string
                              entropy:
                                type: number
                              author:
                                type: string
                              email:
                                type: string
                              date:
                                type: string
                              message:
                                type: string
                              tags:
                                type: array
                                items:
                                  type: string
                              ruleID:
                                type: string
                              fingerprint:
                                type: string
                            required:
                            - description
                            - startLine
                            - endLine
                            - startColumn
                            - endColumn
                            - file
                            - link
                            - symlinkFile
                            - commit
                            - entropy
                            - author
                            - email
                            - date
                            - message
                            - tags
                            - ruleID
                            - fingerprint
                            additionalProperties: false
                        required:
                        - id
                        - dataSourceName
                        - resourceName
                        - rule
                        - severity
                        - fingerprint
                        - projectId
                        - createdAt
                        - updatedAt
                        - resourceType
                        - dataSourceType
                        - details
                        additionalProperties: false
                        title: GitHub
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          dataSourceName:
                            type: string
                          resourceName:
                            type: string
                          rule:
                            type: string
                          severity:
                            type: string
                          status:
                            type: string
                            default: unresolved
                          remarks:
                            type: string
                            nullable: true
                          fingerprint:
                            type: string
                          projectId:
                            type: string
                          scanId:
                            type: string
                            format: uuid
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          resourceType:
                            type: string
                            enum:
                            - repository
                          dataSourceType:
                            type: string
                            enum:
                            - bitbucket
                          details:
                            type: object
                            properties:
                              description:
                                type: string
                              startLine:
                                type: number
                              endLine:
                                type: number
                              startColumn:
                                type: number
                              endColumn:
                                type: number
                              file:
                                type: string
                              link:
                                type: string
                              symlinkFile:
                                type: string
                              commit:
                                type: string
                              entropy:
                                type: number
                              author:
                                type: string
                              email:
                                type: string
                              date:
                                type: string
                              message:
                                type: string
                              tags:
                                type: array
                                items:
                                  type: string
                              ruleID:
                                type: string
                              fingerprint:
                                type: string
                            required:
                            - description
                            - startLine
                            - endLine
                            - startColumn
                            - endColumn
                            - file
                            - link
                            - symlinkFile
                            - commit
                            - entropy
                            - author
                            - email
                            - date
                            - message
                            - tags
                            - ruleID
                            - fingerprint
                            additionalProperties: false
                        required:
                        - id
                        - dataSourceName
                        - resourceName
                        - rule
                        - severity
                        - fingerprint
                        - projectId
                        - createdAt
                        - updatedAt
                        - resourceType
                        - dataSourceType
                        - details
                        additionalProperties: false
                        title: Bitbucket
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          dataSourceName:
                            type: string
                          resourceName:
                            type: string
                          rule:
                            type: string
                          severity:
                            type: string
                          status:
                            type: string
                            default: unresolved
                          remarks:
                            type: string
                            nullable: true
                          fingerprint:
                            type: string
                          projectId:
                            type: string
                          scanId:
                            type: string
                            format: uuid
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          resourceType:
                            type: string
                            enum:
                            - project
                          dataSourceType:
                            type: string
                            enum:
                            - gitlab
                          details:
                            type: object
                            properties:
                              description:
                                type: string
                              startLine:
                                type: number
                              endLine:
                                type: number
                              startColumn:
                                type: number
                              endColumn:
                                type: number
                              file:
                                type: string
                              link:
                                type: string
                              symlinkFile:
                                type: string
                              commit:
                                type: string
                              entropy:
                                type: number
                              author:
                                type: string
                              email:
                                type: string
                              date:
                                type: string
                              message:
                                type: string
                              tags:
                                type: array
                                items:
                                  type: string
                              ruleID:
                                type: string
                              fingerprint:
                                type: string
                            required:
                            - description
                            - startLine
                            - endLine
                            - startColumn
                            - endColumn
                            - file
                            - link
                            - symlinkFile
                            - commit
                            - entropy
                            - author
                            - email
                            - date
                            - message
                            - tags
                            - ruleID
                            - fingerprint
                            additionalProperties: false
                        required:
                        - id
                        - dataSourceName
                        - resourceName
                        - rule
                        - severity
                        - fingerprint
                        - projectId
                        - createdAt
                        - updatedAt
                        - resourceType
                        - dataSourceType
                        - details
                        additionalProperties: false
                        title: GitLab
                required:
                - findings
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v2/secret-scanning/findings/{findingId}:
    patch:
      operationId: updateSecretScanningFinding
      tags:
      - Secret Scanning
      description: Update the specified Secret Scanning Finding.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - resolved
                  - unresolved
                  - false-positive
                  - ignore
                  description: The updated status of the specified Secret Scanning Finding.
                remarks:
                  type: string
                  nullable: true
                  description: Remarks pertaining to the status of this finding.
              additionalProperties: false
      parameters:
      - schema:
          type: string
          minLength: 1
        in: path
        name: findingId
        required: true
        description: The ID of the Secret Scanning Finding to update.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  finding:
                    anyOf:
                    - type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        dataSourceName:
                          type: string
                        resourceName:
                          type: string
                        rule:
                          type: string
                        severity:
                          type: string
                        status:
                          type: string
                          default: unresolved
                        remarks:
                          type: string
                          nullable: true
                        fingerprint:
                          type: string
                        projectId:
                          type: string
                        scanId:
                          type: string
                          format: uuid
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        resourceType:
                          type: string
                          enum:
                          - repository
                        dataSourceType:
                          type: string
                          enum:
                          - github
                        details:
                          type: object
                          properties:
                            description:
                              type: string
                            startLine:
                              type: number
                            endLine:
                              type: number
                            startColumn:
                              type: number
                            endColumn:
                              type: number
                            file:
                              type: string
                            link:
                              type: string
                            symlinkFile:
                              type: string
                            commit:
                              type: string
                            entropy:
                              type: number
                            author:
                              type: string
                            email:
                              type: string
                            date:
                              type: string
                            message:
                              type: string
                            tags:
                              type: array
                              items:
                                type: string
                            ruleID:
                              type: string
                            fingerprint:
                              type: string
                          required:
                          - description
                          - startLine
                          - endLine
                          - startColumn
                          - endColumn
                          - file
                          - link
                          - symlinkFile
                          - commit
                          - entropy
                          - author
                          - email
                          - date
                          - message
                          - tags
                          - ruleID
                          - fingerprint
                          additionalProperties: false
                      required:
                      - id
                      - dataSourceName
                      - resourceName
                      - rule
                      - severity
                      - fingerprint
                      - projectId
                      - createdAt
                      - updatedAt
                      - resourceType
                      - dataSourceType
                      - details
                      additionalProperties: false
                      title: GitHub
                    - type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        dataSourceName:
                          type: string
                        resourceName:
                          type: string
                        rule:
                          type: string
                        severity:
                          type: string
                        status:
                          type: string
                          default: unresolved
                        remarks:
                          type: string
                          nullable: true
                        fingerprint:
                          type: string
                        projectId:
                          type: string
                        scanId:
                          type: string
                          format: uuid
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        resourceType:
                          type: string
                          enum:
                          - repository
                        dataSourceType:
                          type: string
                          enum:
                          - bitbucket
                        details:
                          type: object
                          properties:
                            description:
                              type: string
                            startLine:
                              type: number
                            endLine:
                              type: number
                            startColumn:
                              type: number
                            endColumn:
                              type: number
                            file:
                              type: string
                            link:
                              type: string
                            symlinkFile:
                              type: string
                            commit:
                              type: string
                            entropy:
                              type: number
                            author:
                              type: string
                            email:
                              type: string
                            date:
                              type: string
                            message:
                              type: string
                            tags:
                              type: array
                              items:
                                type: string
                            ruleID:
                              type: string
                            fingerprint:
                              type: string
                          required:
                          - description
                          - startLine
                          - endLine
                          - startColumn
                          - endColumn
                          - file
                          - link
                          - symlinkFile
                          - commit
                          - entropy
                          - author
                          - email
                          - date
                          - message
                          - tags
                          - ruleID
                          - fingerprint
                          additionalProperties: false
                      required:
                      - id
                      - dataSourceName
                      - resourceName
                      - rule
                      - severity
                      - fingerprint
                      - projectId
                      - createdAt
                      - updatedAt
                      - resourceType
                      - dataSourceType
                      - details
                      additionalProperties: false
                      title: Bitbucket
                    - type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        dataSourceName:
                          type: string
                        resourceName:
                          type: string
                        rule:
                          type: string
                        severity:
                          type: string
                        status:
                          type: string
                          default: unresolved
                        remarks:
                          type: string
                          nullable: true
                        fingerprint:
                          type: string
                        projectId:
                          type: string
                        scanId:
                          type: string
                          format: uuid
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        resourceType:
                          type: string
                          enum:
                          - project
                        dataSourceType:
                          type: string
                          enum:
                          - gitlab
                        details:
                          type: object
                          properties:
                            description:
                              type: string
                            startLine:
                              type: number
                            endLine:
                              type: number
                            startColumn:
                              type: number
                            endColumn:
                              type: number
                            file:
                              type: string
                            link:
                              type: string
                            symlinkFile:
                              type: string
                            commit:
                              type: string
                            entropy:
                              type: number
                            author:
                              type: string
                            email:
                              type: string
                            date:
                              type: string
                            message:
                              type: string
                            tags:
                              type: array
                              items:
                                type: string
                            ruleID:
                              type: string
                            fingerprint:
                              type: string
                          required:
                          - description
                          - startLine
                          - endLine
                          - startColumn
                          - endColumn
                          - file
                          - link
                          - symlinkFile
                          - commit
                          - entropy
                          - author
                          - email
                          - date
                          - message
                          - tags
                          - ruleID
                          - fingerprint
                          additionalProperties: false
                      required:
                      - id
                      - dataSourceName
                      - resourceName
                      - rule
                      - severity
                      - fingerprint
                      - projectId
                      - createdAt
                      - updatedAt
                      - resourceType
                      - dataSourceType
                      - details
                      additionalProperties: false
                      title: GitLab
                required:
                - finding
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v2/secret-scanning/configs:
    get:
      operationId: getSecretScanningConfig
      tags:
      - Secret Scanning
      description: Get the Secret Scanning Config for the specified project.
      parameters:
      - schema:
          type: string
          minLength: 1
        in: query
        name: projectId
        required: true
        description: The ID of the project to retrieve the Secret Scanning Configuration for.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  config:
                    type: object
                    properties:
                      content:
                        type: string
                        nullable: true
                      projectId:
                        type: string
                      updatedAt:
                        type: string
                        format: date-time
                        nullable: true
                    required:
                    - projectId
                    additionalProperties: false
                required:
                - config
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    patch:
      operationId: updateSecretScanningConfig
      tags:
      - Secret Scanning
      description: Update the specified Secret Scanning Configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  nullable: true
                  description: The contents of the Secret Scanning Configuration file.
              required:
              - content
              additionalProperties: false
      parameters:
      - schema:
          type: string
          minLength: 1
        in: query
        name: projectId
        required: true
        description: The ID of the project to update the Secret Scanning Configuration for.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  config:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      projectId:
                        type: string
                      content:
                        type: string
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - projectId
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                required:
                - config
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v2/secret-scanning/data-sources/github:
    get:
      operationId: listGitHubDataSources
      tags:
      - Secret Scanning
      description: List the GitHub Data Sources for the specified project.
      parameters:
      - schema:
          type: string
          minLength: 1
        in: query
        name: projectId
        required: true
        description: The ID of the project to list GitHub Data Sources from.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSources:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        externalId:
                          type: string
                          nullable: true
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        encryptedCredentials:
                          nullable: true
                        isAutoScanEnabled:
                          type: boolean
                          default: true
                          nullable: true
                        projectId:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        isDisconnected:
                          type: boolean
                          default: false
                        type:
                          type: string
                          enum:
                          - github
                        connectionId:
                          type: string
                          format: uuid
                        connection:
                          type: object
                          properties:
                            app:
                              type: string
                              enum:
                              - github-radar
                            name:
                              type: string
                            id:
                              type: string
                              format: uuid
                          required:
                          - app
                          - name
                          - id
                          additionalProperties: false
                        config:
                          type: object
                          properties:
                            includeRepos:
                              type: array
                              items:
                                type: string
                                minLength: 1
                                maxLength: 256
                              minItems: 1
                              maxItems: 100
                              default:
                              - '*'
                              description: The repositories to include when scanning. Defaults to all repositories (["*"]).
                          additionalProperties: false
                      required:
                      - id
                      - name
                      - projectId
                      - createdAt
                      - updatedAt
                      - type
                      - connectionId
                      - connection
                      - config
                      additionalProperties: false
                      title: GitHub
                required:
                - dataSources
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    post:
      operationId: createGitHubDataSource
      tags:
      - Secret Scanning
      description: Create a GitHub Data Source for the specified project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: The name of the GitHub Data Source to create. Must be slug-friendly.
                projectId:
                  type: string
                  minLength: 1
                  description: The ID of the project to create the GitHub Data Source in.
                description:
                  type: string
                  maxLength: 256
                  nullable: true
                  description: An optional description for the GitHub Data Source.
                connectionId:
                  type: string
                  format: uuid
                  description: The ID of the GitHub Radar Connection to use for this Data Source.
                isAutoScanEnabled:
                  type: boolean
                  default: true
[...]
