openapi: 3.0.3
info:
  title: Infisical Admin Integrations API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: Integrations
paths:
  /api/v1/workspace/{workspaceId}/integrations:
    get:
      tags:
      - Integrations
      description: List integrations for a project.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceId
        required: true
        description: The ID of the project to list integrations for.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        isActive:
                          type: boolean
                        url:
                          type: string
                          nullable: true
                        app:
                          type: string
                          nullable: true
                        appId:
                          type: string
                          nullable: true
                        targetEnvironment:
                          type: string
                          nullable: true
                        targetEnvironmentId:
                          type: string
                          nullable: true
                        targetService:
                          type: string
                          nullable: true
                        targetServiceId:
                          type: string
                          nullable: true
                        owner:
                          type: string
                          nullable: true
                        path:
                          type: string
                          nullable: true
                        region:
                          type: string
                          nullable: true
                        scope:
                          type: string
                          nullable: true
                        integration:
                          type: string
                        metadata:
                          nullable: true
                        integrationAuthId:
                          type: string
                          format: uuid
                        envId:
                          type: string
                          format: uuid
                        secretPath:
                          type: string
                          default: /
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        lastUsed:
                          type: string
                          format: date-time
                          nullable: true
                        isSynced:
                          type: boolean
                          nullable: true
                        syncMessage:
                          type: string
                          nullable: true
                        lastSyncJobId:
                          type: string
                          nullable: true
                        environment:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            slug:
                              type: string
                          required:
                          - id
                          - name
                          - slug
                          additionalProperties: false
                      required:
                      - id
                      - isActive
                      - integration
                      - integrationAuthId
                      - envId
                      - createdAt
                      - updatedAt
                      - environment
                      additionalProperties: false
                required:
                - integrations
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/workspace/{workspaceId}/authorizations:
    get:
      tags:
      - Integrations
      description: List integration auth objects for a workspace.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceId
        required: true
        description: The ID of the project to list integration auths for.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        projectId:
                          type: string
                        integration:
                          type: string
                        teamId:
                          type: string
                          nullable: true
                        url:
                          type: string
                          nullable: true
                        namespace:
                          type: string
                          nullable: true
                        accountId:
                          type: string
                          nullable: true
                        metadata:
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - projectId
                      - integration
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                required:
                - authorizations
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/projects/{projectId}/integrations:
    get:
      operationId: listProjectIntegrations
      tags:
      - Integrations
      description: List integrations for a project.
      parameters:
      - schema:
          type: string
        in: path
        name: projectId
        required: true
        description: The ID of the project to list integrations for.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        isActive:
                          type: boolean
                        url:
                          type: string
                          nullable: true
                        app:
                          type: string
                          nullable: true
                        appId:
                          type: string
                          nullable: true
                        targetEnvironment:
                          type: string
                          nullable: true
                        targetEnvironmentId:
                          type: string
                          nullable: true
                        targetService:
                          type: string
                          nullable: true
                        targetServiceId:
                          type: string
                          nullable: true
                        owner:
                          type: string
                          nullable: true
                        path:
                          type: string
                          nullable: true
                        region:
                          type: string
                          nullable: true
                        scope:
                          type: string
                          nullable: true
                        integration:
                          type: string
                        metadata:
                          nullable: true
                        integrationAuthId:
                          type: string
                          format: uuid
                        envId:
                          type: string
                          format: uuid
                        secretPath:
                          type: string
                          default: /
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        lastUsed:
                          type: string
                          format: date-time
                          nullable: true
                        isSynced:
                          type: boolean
                          nullable: true
                        syncMessage:
                          type: string
                          nullable: true
                        lastSyncJobId:
                          type: string
                          nullable: true
                        environment:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            slug:
                              type: string
                          required:
                          - id
                          - name
                          - slug
                          additionalProperties: false
                      required:
                      - id
                      - isActive
                      - integration
                      - integrationAuthId
                      - envId
                      - createdAt
                      - updatedAt
                      - environment
                      additionalProperties: false
                required:
                - integrations
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/projects/{projectId}/authorizations:
    get:
      operationId: listProjectIntegrationAuthorizations
      tags:
      - Integrations
      description: List integration auth objects for a project.
      parameters:
      - schema:
          type: string
        in: path
        name: projectId
        required: true
        description: The ID of the project to list integration auths for.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        projectId:
                          type: string
                        integration:
                          type: string
                        teamId:
                          type: string
                          nullable: true
                        url:
                          type: string
                          nullable: true
                        namespace:
                          type: string
                          nullable: true
                        accountId:
                          type: string
                          nullable: true
                        metadata:
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - projectId
                      - integration
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                required:
                - authorizations
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/integration:
    post:
      operationId: createIntegration
      tags:
      - Integrations
      description: Create an integration to sync secrets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                integrationAuthId:
                  type: string
                  description: The ID of the integration auth object to link with integration.
                app:
                  type: string
                  description: The name of the external integration providers app entity that you want to sync secrets with. Used in Netlify, GitHub, Vercel integrations.
                isActive:
                  type: boolean
                  description: Whether the integration should be active or disabled.
                  default: true
                appId:
                  type: string
                  description: The ID of the external integration providers app entity that you want to sync secrets with. Used in Netlify, GitHub, Vercel integrations.
                secretPath:
                  type: string
                  default: /
                  description: The path of the secrets to sync secrets from.
                sourceEnvironment:
                  type: string
                  description: The environment to sync secret from.
                targetEnvironment:
                  type: string
                  description: The target environment of the integration provider. Used in cloudflare pages, TeamCity, Gitlab integrations.
                targetEnvironmentId:
                  type: string
                  description: The target environment ID of the integration provider. Used in cloudflare pages, teamcity, gitlab integrations.
                targetService:
                  type: string
                  description: The service based grouping identifier of the external provider. Used in Terraform cloud, Checkly, Railway and NorthFlank.
                targetServiceId:
                  type: string
                  description: The service based grouping identifier ID of the external provider. Used in Terraform cloud, Checkly, Railway and NorthFlank.
                owner:
                  type: string
                  description: External integration providers service entity owner. Used in Github.
                url:
                  type: string
                  format: uri
                  description: The self-hosted URL of the platform to integrate with.
                path:
                  type: string
                  description: Path to save the synced secrets. Used by Gitlab, AWS Parameter Store, Vault.
                region:
                  type: string
                  description: AWS region to sync secrets to.
                scope:
                  type: string
                  description: Scope of the provider. Used by Github, Qovery.
                metadata:
                  type: object
                  properties:
                    initialSyncBehavior:
                      type: string
                      description: Type of syncing behavoir with the integration.
                    secretPrefix:
                      type: string
                      description: The prefix for the saved secret. Used by GCP.
                    secretSuffix:
                      type: string
                      description: The suffix for the saved secret. Used by GCP.
                    mappingBehavior:
                      type: string
                      enum:
                      - one-to-one
                      - many-to-one
                      description: The mapping behavior of the integration.
                    shouldAutoRedeploy:
                      type: boolean
                      description: Used by Render to trigger auto deploy.
                    secretGCPLabel:
                      type: object
                      properties:
                        labelName:
                          type: string
                        labelValue:
                          type: string
                      required:
                      - labelName
                      - labelValue
                      additionalProperties: false
                      description: The label for GCP secrets.
                    secretAWSTag:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                          value:
                            type: string
                        required:
                        - key
                        - value
                        additionalProperties: false
                      description: The tags for AWS secrets.
                    azureLabel:
                      type: string
                      description: Define which label to assign to secrets created in Azure App Configuration.
                    githubVisibility:
                      anyOf:
                      - type: string
                        enum:
                        - selected
                      - type: string
                        enum:
                        - private
                      - type: string
                        enum:
                        - all
                      description: Define where the secrets from the Github Integration should be visible. Option 'selected' lets you directly define which repositories to sync secrets to.
                    githubVisibilityRepoIds:
                      type: array
                      items:
                        type: string
                      description: The repository IDs to sync secrets to when using the Github Integration. Only applicable when using Organization scope, and visibility is set to 'selected'.
                    kmsKeyId:
                      type: string
                      description: The ID of the encryption key from AWS KMS.
                    shouldDisableDelete:
                      type: boolean
                      description: The flag to disable deletion of secrets in AWS Parameter Store.
                    shouldEnableDelete:
                      type: boolean
                      description: The flag to enable deletion of secrets.
                    shouldMaskSecrets:
                      type: boolean
                      description: Specifies if the secrets synced from Infisical to Gitlab should be marked as 'Masked'.
                    shouldProtectSecrets:
                      type: boolean
                      description: Specifies if the secrets synced from Infisical to Gitlab should be marked as 'Protected'.
                    metadataSyncMode:
                      type: string
                      enum:
                      - custom
                      - secret-metadata
                      description: The mode for syncing metadata to external system
                    octopusDeployScopeValues:
                      type: object
                      properties:
                        Environment:
                          type: array
                          items:
                            type: string
                        Action:
                          type: array
                          items:
                            type: string
                        Channel:
                          type: array
                          items:
                            type: string
                        Machine:
                          type: array
                          items:
                            type: string
                        ProcessOwner:
                          type: array
                          items:
                            type: string
                        Role:
                          type: array
                          items:
                            type: string
                      additionalProperties: false
                      description: Specifies the scope values to set on synced secrets to Octopus Deploy.
                  additionalProperties: false
                  default: {}
              required:
              - integrationAuthId
              - sourceEnvironment
              additionalProperties: false
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      isActive:
                        type: boolean
                      url:
                        type: string
                        nullable: true
                      app:
                        type: string
                        nullable: true
                      appId:
                        type: string
                        nullable: true
                      targetEnvironment:
                        type: string
                        nullable: true
                      targetEnvironmentId:
                        type: string
                        nullable: true
                      targetService:
                        type: string
                        nullable: true
                      targetServiceId:
                        type: string
                        nullable: true
                      owner:
                        type: string
                        nullable: true
                      path:
                        type: string
                        nullable: true
                      region:
                        type: string
                        nullable: true
                      scope:
                        type: string
                        nullable: true
                      integration:
                        type: string
                      metadata:
                        nullable: true
                      integrationAuthId:
                        type: string
                        format: uuid
                      envId:
                        type: string
                        format: uuid
                      secretPath:
                        type: string
                        default: /
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      lastUsed:
                        type: string
                        format: date-time
                        nullable: true
                      isSynced:
                        type: boolean
                        nullable: true
                      syncMessage:
                        type: string
                        nullable: true
                      lastSyncJobId:
                        type: string
                        nullable: true
                      environment:
                        type: object
                        properties:
                          slug:
                            type: string
                          name:
                            type: string
                          id:
                            type: string
                        required:
                        - slug
                        - name
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - isActive
                    - integration
                    - integrationAuthId
                    - envId
                    - createdAt
                    - updatedAt
                    - environment
                    additionalProperties: false
                required:
                - integration
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/integration/{integrationId}:
    patch:
      operationId: updateIntegration
      tags:
      - Integrations
      description: Update an integration by integration id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app:
                  type: string
                  description: The name of the external integration providers app entity that you want to sync secrets with. Used in Netlify, GitHub, Vercel integrations.
                appId:
                  type: string
                  description: The ID of the external integration providers app entity that you want to sync secrets with. Used in Netlify, GitHub, Vercel integrations.
                isActive:
                  type: boolean
                  description: Whether the integration should be active or disabled.
                secretPath:
                  type: string
                  default: /
                  description: The path of the secrets to sync secrets from.
                targetEnvironment:
                  type: string
                  description: The target environment of the integration provider. Used in cloudflare pages, TeamCity, Gitlab integrations.
                owner:
                  type: string
                  description: External integration providers service entity owner. Used in Github.
                environment:
                  type: string
                  description: The environment to sync secrets from.
                path:
                  type: string
                  description: Path to save the synced secrets. Used by Gitlab, AWS Parameter Store, Vault.
                metadata:
                  type: object
                  properties:
                    initialSyncBehavior:
                      type: string
                      description: Type of syncing behavoir with the integration.
                    secretPrefix:
                      type: string
                      description: The prefix for the saved secret. Used by GCP.
                    secretSuffix:
                      type: string
                      description: The suffix for the saved secret. Used by GCP.
                    mappingBehavior:
                      type: string
                      enum:
                      - one-to-one
                      - many-to-one
                      description: The mapping behavior of the integration.
                    shouldAutoRedeploy:
                      type: boolean
                      description: Used by Render to trigger auto deploy.
                    secretGCPLabel:
                      type: object
                      properties:
                        labelName:
                          type: string
                        labelValue:
                          type: string
                      required:
                      - labelName
                      - labelValue
                      additionalProperties: false
                      description: The label for GCP secrets.
                    secretAWSTag:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                          value:
                            type: string
                        required:
                        - key
                        - value
                        additionalProperties: false
                      description: The tags for AWS secrets.
                    azureLabel:
                      type: string
                      description: Define which label to assign to secrets created in Azure App Configuration.
                    githubVisibility:
                      anyOf:
                      - type: string
                        enum:
                        - selected
                      - type: string
                        enum:
                        - private
                      - type: string
                        enum:
                        - all
                      description: Define where the secrets from the Github Integration should be visible. Option 'selected' lets you directly define which repositories to sync secrets to.
                    githubVisibilityRepoIds:
                      type: array
                      items:
                        type: string
                      description: The repository IDs to sync secrets to when using the Github Integration. Only applicable when using Organization scope, and visibility is set to 'selected'.
                    kmsKeyId:
                      type: string
                      description: The ID of the encryption key from AWS KMS.
                    shouldDisableDelete:
                      type: boolean
                      description: The flag to disable deletion of secrets in AWS Parameter Store.
                    shouldEnableDelete:
                      type: boolean
                      description: The flag to enable deletion of secrets.
                    shouldMaskSecrets:
                      type: boolean
                      description: Specifies if the secrets synced from Infisical to Gitlab should be marked as 'Masked'.
                    shouldProtectSecrets:
                      type: boolean
                      description: Specifies if the secrets synced from Infisical to Gitlab should be marked as 'Protected'.
                    metadataSyncMode:
                      type: string
                      enum:
                      - custom
                      - secret-metadata
                      description: The mode for syncing metadata to external system
                    octopusDeployScopeValues:
                      type: object
                      properties:
                        Environment:
                          type: array
                          items:
                            type: string
                        Action:
                          type: array
                          items:
                            type: string
                        Channel:
                          type: array
                          items:
                            type: string
                        Machine:
                          type: array
                          items:
                            type: string
                        ProcessOwner:
                          type: array
                          items:
                            type: string
                        Role:
                          type: array
                          items:
                            type: string
                      additionalProperties: false
                      description: Specifies the scope values to set on synced secrets to Octopus Deploy.
                  additionalProperties: false
                region:
                  type: string
                  description: AWS region to sync secrets to.
              additionalProperties: false
      parameters:
      - schema:
          type: string
        in: path
        name: integrationId
        required: true
        description: The ID of the integration object.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      isActive:
                        type: boolean
                      url:
                        type: string
                        nullable: true
                      app:
                        type: string
                        nullable: true
                      appId:
                        type: string
                        nullable: true
                      targetEnvironment:
                        type: string
                        nullable: true
                      targetEnvironmentId:
                        type: string
                        nullable: true
                      targetService:
                        type: string
                        nullable: true
                      targetServiceId:
                        type: string
                        nullable: true
                      owner:
                        type: string
                        nullable: true
                      path:
                        type: string
                        nullable: true
                      region:
                        type: string
                        nullable: true
                      scope:
                        type: string
                        nullable: true
                      integration:
                        type: string
                      metadata:
                        nullable: true
                      integrationAuthId:
                        type: string
                        format: uuid
                      envId:
                        type: string
                        format: uuid
                      secretPath:
                        type: string
                        default: /
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      lastUsed:
                        type: string
                        format: date-time
                        nullable: true
                      isSynced:
                        type: boolean
                        nullable: true
                      syncMessage:
                        type: string
                        nullable: true
                      lastSyncJobId:
                        type: string
                        nullable: true
                      environment:
                        type: object
                        properties:
                          slug:
                            type: string
                          name:
                            type: string
                          id:
                            type: string
                        required:
                        - slug
                        - name
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - isActive
                    - integration
                    - integrationAuthId
                    - envId
                    - createdAt
                    - updatedAt
                    - environment
                    additionalProperties: false
                required:
                - integration
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    get:
      operationId: getIntegration
      tags:
      - Integrations
      description: Get an integration by integration id
      parameters:
      - schema:
          type: string
        in: path
        name: integrationId
        required: true
        description: The ID of the integration object.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      isActive:
                        type: boolean
                      url:
                        type: string
                        nullable: true
                      app:
                        type: string
                        nullable: true
                      appId:
                        type: string
                        nullable: true
                      targetEnvironment:
                        type: string
                        nullable: true
                      targetEnvironmentId:
                        type: string
                        nullable: true
                      targetService:
                        type: string
                        nullable: true
                      targetServiceId:
                        type: string
                        nullable: true
                      owner:
                        type: string
                        nullable: true
                      path:
                        type: string
                        nullable: true
                      region:
                        type: string
                        nullable: true
                      scope:
                        type: string
                        nullable: true
                      integration:
                        type: string
                      metadata:
                        nullable: true
                      integrationAuthId:
                        type: string
                        format: uuid
                      envId:
                        type: string
                        format: uuid
                      secretPath:
                        type: string
                        default: /
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      lastUsed:
                        type: string
                        format: date-time
                        nullable: true
                      isSynced:
                        type: boolean
                        nullable: true
                      syncMessage:
                        type: string
                        nullable: true
                      lastSyncJobId:
                        type: string
                        nullable: true
                      environment:
                        type: object
                        properties:
                          slug:
                            type: string
                          name:
                            type: string
                          id:
                            type: string
                        required:
                        - slug
                        - name
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - isActive
                    - integration
                    - integrationAuthId
                    - envId
                    - createdAt
                    - updatedAt
                    - environment
                    additionalProperties: false
                required:
                - integration
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    delete:
      operationId: deleteIntegration
      tags:
      - Integrations
      description: Remove an integration using the integration object ID
      parameters:
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
        in: query
        name: shouldDeleteIntegrationSecrets
        required: false
      - schema:
          type: string
        in: path
        name: integrationId
        required: true
        description: The ID of the integration object.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      isActive:
                        type: boolean
                      url:
                        type: string
                        nullable: true
                      app:
                        type: string
                        nullable: true
                      appId:
                        type: string
                        nullable: true
                      targetEnvironment:
                        type: string
                        nullable: true
                      targetEnvironmentId:
                        type: string
                        nullable: true
                      targetService:
                        type: string
                        nullable: true
                      targetServiceId:
                        type: string
                        nullable: true
                      owner:
                        type: string
                        nullable: true
                      path:
                        type: string
                        nullable: true
                      region:
                        type: string
                        nullable: true
                      scope:
                        type: string
                        nullable: true
                      integration:
                        type: string
                      metadata:
                        nullable: true
                      integrationAuthId:
                        type: string
                        format: uuid
                      envId:
                        type: string
                        format: uuid
                      secretPath:
                        type: string
                        default: /
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      lastUsed:
                        type: string
                        format: date-time
                        nullable: true
                      isSynced:
                        type: boolean
                        nullable: true
                      syncMessage:
                        type: string
                        nullable: true
                      lastSyncJobId:
                        type: string
                        nullable: true
                    required:
                    - id
                    - isActive
                    - integration
                    - integrationAuthId
                    - envId
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                required:
                - integration
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/integration/{integrationId}/sync:
    post:
      operationId: syncIntegration
      tags:
      - Integrations
      description: Manually trigger sync of an integration by integration id
      parameters:
      - schema:
          type: string
        in: path
        name: integrationId
        required: true
        description: The ID of the integration object to manually sync.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      isActive:
                        type: boolean
                      url:
                        type: string
                        nullable: true
                      app:
                        type: string
                        nullable: true
                      appId:
                        type: string
                        nullable: true
                      targetEnvironment:
                        type: string
                        nullable: true
                      targetEnvironmentId:
                        type: string
                        nullable: true
                      targetService:
                        type: string
                        nullable: true
                      targetServiceId:
                        type: string
                        nullable: true
                      owner:
                        type: string
                        nullable: true
                      path:
                        type: string
                        nullable: true
                      region:
                        type: string
                        nullable: true
                      scope:
                        type: string
                        nullable: true
                      integration:
                        type: string
                      metadata:
                        nullable: true
                      integrationAuthId:
                        type: string
                        format: uuid
                      envId:
                        type: string
                        format: uuid
                      secretPath:
                        type: string
                        default: /
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      lastUsed:
                        type: string
                        format: date-time
                        nullable: true
                      isSynced:
                        type: boolean
                        nullable: true
                      syncMessage:
                        type: string
                        nullable: true
                      lastSyncJobId:
                        type: string
                        nullable: true
                    required:
                    - id
                    - isActive
                    - integration
                    - integrationAuthId
                    - envId
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                required:
                - integration
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/integration-auth/integration-options:
    get:
      tags:
      - Integrations
      description: List of integrations available.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrationOptions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                        syncSlug:
                          type: string
                        clientSlug:
                          type: string
                        image:
                          type: string
                        isAvailable:
                          type: boolean
                        type:
                          type: string
                        clientId:
                          type: string
                        docsLink:
                          type: string
                      required:
                      - name
                      - slug
                      - image
                      - type
                      additionalProperties: false
                required:
                - integrationOptions
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/integration-auth/{integrationAuthId}:
    get:
      operationId: getIntegrationAuth
      tags:
      - Integrations
      description: Get details of an integration authorization by auth object id.
      parameters:
      - schema:
          type: string
        in: path
        name: integrationAuthId
        required: true
        description: The ID of integration authentication object.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrationAuth:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      projectId:
                        type: string
                      integration:
                        type: string
                      teamId:
                        type: string
                        nullable: true
                      url:
                        type: string
                        nullable: true
                      namespace:
                        type: string
                        nullable: true
                      accountId:
                        type: string
                        nullable: true
                      metadata:
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - projectId
                    - integration
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                required:
                - integrationAuth
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    patch:
      operationId: updateIntegrationAuth
      tags:
      - Integrations
      description: Update the integration authentication object required for syncing secrets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                integration:
                  type: string
                  enum:
                  - azure-key-vault
                  - aws-parameter-store
                  - aws-secret-manager
                  - gcp-secret-manager
                  - heroku
                  - vercel
                  - netlify
                  - github
                  - gitlab
                  - render
                  - railway
                  - flyio
                  - laravel-forge
                  - circleci
                  - databricks
                  - travisci
                  - teamcity
                  - supabase
                  - checkly
                  - qovery
                  - terraform-cloud
                  - hashicorp-vault
                  - cloudflare-pages
                  - cloudflare-workers
                  - bitbucket
                  - codefresh
                  - windmill
                  - digital-ocean-app-platform
                  - cloud-66
                  - northflank
                  - hasura-cloud
                  - rundeck
                  - azure-devops
                  - azure-app-configuration
                  - octopus-deploy
                  description: The slug of integration for the auth object.
                accessId:
                  type: string
                  description: The unique authorized access ID of the external integration provider.
                accessToken:
                  type: string
                  description: The unique authorized access token of the external integration provider.
                awsAssumeIamRoleArn:
                  type: string
                  format: uri
                  description: The AWS IAM Role to be assumed by Infisical.
                url:
                  type: string
                  format: uri
                namespace:
                  type: string
                refreshToken:
                  type: string
                  description: The refresh token for integration authorization.
              additionalProperties: false
      parameters:
      - schema:
          type: string
        in: path
        name: integrationAuthId
        required: true
        description: The ID of integration authentication object to update.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrationAuth:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      projectId:
                        type: string
                      integration:
                        type: string
                      teamId:
                        type: string
                        nullable: true
                      url:
                        type: string
                        nullable: true
                      namespace:
                        type: string
                        nullable: true
                      accountId:
                        type: string
                        nullable: true
                      metadata:
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - projectId
                    - integration
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                required:
                - integrationAuth
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
[...]
