openapi: 3.0.3
info:
  title: Infisical Admin Identity Specific Privileges V2 API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: Identity Specific Privileges V2
paths:
  /api/v2/identity-project-additional-privilege:
    post:
      operationId: createIdentityProjectAdditionalPrivilege
      tags:
      - Identity Specific Privileges V2
      description: Add an additional privilege for identity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identityId:
                  type: string
                  minLength: 1
                  description: The ID of the machine identity to create the privilege for.
                projectId:
                  type: string
                  minLength: 1
                  description: The ID of the project of the identity in.
                slug:
                  type: string
                  minLength: 1
                  maxLength: 60
                  description: The slug of the privilege to create.
                permissions:
                  type: array
                  items:
                    anyOf:
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secrets
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - describeSecret
                            - readValue
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - describeSecret
                              - readValue
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            environment:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretPath:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretName:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretTags:
                              type: object
                              properties:
                                $in:
                                  type: array
                                  items:
                                    type: string
                                    minLength: 1
                                $all:
                                  type: array
                                  items:
                                    type: string
                                    minLength: 1
                              additionalProperties: false
                            eventType:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secret-folders
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            environment:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                            secretPath:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secret-imports
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            environment:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretPath:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - dynamic-secrets
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read-root-credential
                            - create-root-credential
                            - edit-root-credential
                            - delete-root-credential
                            - lease
                          - type: array
                            items:
                              type: string
                              enum:
                              - read-root-credential
                              - create-root-credential
                              - edit-root-credential
                              - delete-root-credential
                              - lease
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            environment:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretPath:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            metadata:
                              type: object
                              properties:
                                $elemMatch:
                                  type: object
                                  properties:
                                    key:
                                      type: object
                                      properties:
                                        $eq:
                                          type: string
                                          minLength: 1
                                        $ne:
                                          type: string
                                          minLength: 1
                                        $in:
                                          type: array
                                          items:
                                            type: string
                                            minLength: 1
                                      additionalProperties: false
                                    value:
                                      type: object
                                      properties:
                                        $eq:
                                          type: string
                                          minLength: 1
                                        $ne:
                                          type: string
                                          minLength: 1
                                        $in:
                                          type: array
                                          items:
                                            type: string
                                            minLength: 1
                                      additionalProperties: false
                                  additionalProperties: false
                              required:
                              - $elemMatch
                              additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - identity
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - grant-privileges
                            - assign-role
                            - assign-additional-privileges
                            - assume-privileges
                            - revoke-auth
                            - create-token
                            - get-token
                            - delete-token
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - grant-privileges
                              - assign-role
                              - assign-additional-privileges
                              - assume-privileges
                              - revoke-auth
                              - create-token
                              - get-token
                              - delete-token
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            identityId:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                            assignableRole:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                            assignableSubject:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            assignableAction:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - ssh-hosts
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - issue-host-cert
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - issue-host-cert
                            minItems: 1
                          description: Describe what action an entity can take.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        conditions:
                          type: object
                          properties:
                            hostname:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - pki-subscribers
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - issue-cert
                            - list-certs
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - issue-cert
                              - list-certs
                            minItems: 1
                          description: Describe what action an entity can take.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        conditions:
                          type: object
                          properties:
                            name:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - certificate-templates
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - issue-cert
                            - list-certs
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - issue-cert
                              - list-certs
                            minItems: 1
                          description: Describe what action an entity can take.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        conditions:
                          type: object
                          properties:
                            name:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secret-rotation
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - read-generated-credentials
                            - create
                            - edit
                            - delete
                            - rotate-secrets
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - read-generated-credentials
                              - create
                              - edit
                              - delete
                              - rotate-secrets
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            environment:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretPath:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            connectionId:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secret-syncs
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - sync-secrets
                            - import-secrets
                            - remove-secrets
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - sync-secrets
                              - import-secrets
                              - remove-secrets
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            environment:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretPath:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            connectionId:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - pki-syncs
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - sync-certificates
                            - import-certificates
                            - remove-certificates
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - sync-certificates
                              - import-certificates
                              - remove-certificates
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            name:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            subscriberName:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secret-event-subscriptions
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - subscribe-to-creation-events
                            - subscribe-to-update-events
                            - subscribe-to-deletion-events
                            - subscribe-to-import-mutation-events
                          - type: array
                            items:
                              type: string
                              enum:
                              - subscribe-to-creation-events
                              - subscribe-to-update-events
                              - subscribe-to-deletion-events
                              - subscribe-to-import-mutation-events
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            environment:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            secretPath:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            connectionId:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - certificate-profiles
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - issue-cert
                            - reveal-acme-eab-secret
                            - rotate-acme-eab-secret
                            - manage-application-attachments
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - issue-cert
                              - reveal-acme-eab-secret
                              - rotate-acme-eab-secret
                              - manage-application-attachments
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            slug:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - certificate-policies
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            name:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - certificate-authorities
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - issue-ca-certificate
                            - sign-intermediate
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - issue-ca-certificate
                              - sign-intermediate
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            name:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - certificates
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - read-private-key
                            - import
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - read-private-key
                              - import
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            commonName:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            altNames:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            serialNumber:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            friendlyName:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            status:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            metadata:
                              type: object
                              properties:
                                $elemMatch:
                                  type: object
                                  properties:
                                    key:
                                      type: object
                                      properties:
                                        $eq:
                                          type: string
                                          minLength: 1
                                        $in:
                                          type: array
                                          items:
                                            type: string
                                            minLength: 1
                                      additionalProperties: false
                                    value:
                                      type: object
                                      properties:
                                        $eq:
                                          type: string
                                          minLength: 1
                                        $in:
                                          type: array
                                          items:
                                            type: string
                                            minLength: 1
                                      additionalProperties: false
                                  additionalProperties: false
                              required:
                              - $elemMatch
                              additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secret-approval
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - secret-rollback
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - member
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - grant-privileges
                            - assign-role
                            - assign-additional-privileges
                            - assume-privileges
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - grant-privileges
                              - assign-role
                              - assign-additional-privileges
                              - assume-privileges
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            userEmail:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            assignableRole:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                            assignableSubject:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            assignableAction:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - groups
                          description: The entity this permission pertains to.
                        inverted:
                          type: boolean
                          description: Whether rule allows or forbids.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - grant-privileges
                            - assign-role
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - grant-privileges
                              - assign-role
                            minItems: 1
                          description: Describe what action an entity can take.
                        conditions:
                          type: object
                          properties:
                            groupName:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                  $glob:
                                    type: string
                                    minLength: 1
                                additionalProperties: false
                            assignableRole:
                              anyOf:
                              - type: string
                              - type: object
                                properties:
                                  $eq:
                                    type: string
                                    minLength: 1
                                  $ne:
                                    type: string
                                    minLength: 1
                                  $in:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                additionalProperties: false
                          additionalProperties: false
                          description: When specified, only matching conditions will be allowed to access given resource.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - role
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - integrations
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - webhooks
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - service-tokens
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - settings
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - environments
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - tags
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - audit-logs
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - insights
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - ip-allowlist
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - ssh-certificate-authorities
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - ssh-certificates
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - ssh-certificate-templates
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - ssh-host-groups
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - pki-alerts
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - pki-collections
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - certificate-inventory-views
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - pki-discovery
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - run-scan
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - run-scan
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - pki-certificate-installations
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - edit
                            - delete
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - edit
                              - delete
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
                    - type: object
                      properties:
                        subject:
                          type: string
                          enum:
                          - code-signers
                          description: The entity this permission pertains to.
                        action:
                          anyOf:
                          - type: string
                            enum:
                            - read
                            - create
                            - edit
                            - delete
                            - sign
                          - type: array
                            items:
                              type: string
                              enum:
                              - read
                              - create
                              - edit
                              - delete
                              - sign
                            minItems: 1
                          description: Describe what action an entity can take.
                      required:
                      - subject
                      - action
                      additionalProperties: false
[...]
