openapi: 3.0.3
info:
  title: Infisical Admin Service Tokens API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: Service Tokens
paths:
  /api/v2/service-token:
    get:
      operationId: getServiceToken
      tags:
      - Service Tokens
      description: Return Infisical Token data
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  scopes: {}
                  permissions:
                    type: array
                    items:
                      type: string
                  lastUsed:
                    type: string
                    format: date-time
                    nullable: true
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  secretHash:
                    type: string
                  encryptedKey:
                    type: string
                    nullable: true
                  iv:
                    type: string
                    nullable: true
                  tag:
                    type: string
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  createdBy:
                    type: string
                  projectId:
                    type: string
                  expiryNotificationSent:
                    type: boolean
                    default: false
                    nullable: true
                  workspace:
                    type: string
                  user:
                    type: object
                    properties:
                      authMethods:
                        type: array
                        items:
                          type: string
                        nullable: true
                      id:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      devices:
                        nullable: true
                      email:
                        type: string
                        nullable: true
                      firstName:
                        type: string
                        nullable: true
                      lastName:
                        type: string
                        nullable: true
                      mfaMethods:
                        type: array
                        items:
                          type: string
                        nullable: true
                      __v:
                        type: number
                        default: 0
                      _id:
                        type: string
                    required:
                    - id
                    - createdAt
                    - updatedAt
                    - _id
                    additionalProperties: false
                  _id:
                    type: string
                  __v:
                    type: number
                    default: 0
                required:
                - id
                - name
                - permissions
                - secretHash
                - createdAt
                - updatedAt
                - createdBy
                - projectId
                - workspace
                - user
                - _id
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: An access token in Infisical
