openapi: 3.0.3
info:
  title: Infisical Admin Secret Rotations API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: Secret Rotations
paths:
  /api/v2/secret-rotations/options:
    get:
      operationId: listSecretRotationOptions
      tags:
      - Secret Rotations
      description: List the available Secret Rotation Options.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  secretRotationOptions:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - PostgreSQL Credentials
                          connection:
                            type: string
                            enum:
                            - postgres
                          type:
                            type: string
                            enum:
                            - postgres-credentials
                          template:
                            type: object
                            properties:
                              createUserStatement:
                                type: string
                              rotationStatement:
                                type: string
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - createUserStatement
                            - rotationStatement
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Microsoft SQL Server Credentials
                          connection:
                            type: string
                            enum:
                            - mssql
                          type:
                            type: string
                            enum:
                            - mssql-credentials
                          template:
                            type: object
                            properties:
                              createUserStatement:
                                type: string
                              rotationStatement:
                                type: string
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - createUserStatement
                            - rotationStatement
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - MySQL Credentials
                          connection:
                            type: string
                            enum:
                            - mysql
                          type:
                            type: string
                            enum:
                            - mysql-credentials
                          template:
                            type: object
                            properties:
                              createUserStatement:
                                type: string
                              rotationStatement:
                                type: string
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - createUserStatement
                            - rotationStatement
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - OracleDB Credentials
                          connection:
                            type: string
                            enum:
                            - oracledb
                          type:
                            type: string
                            enum:
                            - oracledb-credentials
                          template:
                            type: object
                            properties:
                              createUserStatement:
                                type: string
                              rotationStatement:
                                type: string
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - createUserStatement
                            - rotationStatement
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Auth0 Client Secret
                          connection:
                            type: string
                            enum:
                            - auth0
                          type:
                            type: string
                            enum:
                            - auth0-client-secret
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  clientId:
                                    type: string
                                  clientSecret:
                                    type: string
                                required:
                                - clientId
                                - clientSecret
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Azure Client Secret
                          connection:
                            type: string
                            enum:
                            - azure-client-secrets
                          type:
                            type: string
                            enum:
                            - azure-client-secret
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  clientId:
                                    type: string
                                  clientSecret:
                                    type: string
                                required:
                                - clientId
                                - clientSecret
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - AWS IAM User Secret
                          connection:
                            type: string
                            enum:
                            - aws
                          type:
                            type: string
                            enum:
                            - aws-iam-user-secret
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  accessKeyId:
                                    type: string
                                  secretAccessKey:
                                    type: string
                                required:
                                - accessKeyId
                                - secretAccessKey
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - LDAP Password
                          connection:
                            type: string
                            enum:
                            - ldap
                          type:
                            type: string
                            enum:
                            - ldap-password
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  dn:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - dn
                                - password
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Okta Client Secret
                          connection:
                            type: string
                            enum:
                            - okta
                          type:
                            type: string
                            enum:
                            - okta-client-secret
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  clientId:
                                    type: string
                                  clientSecret:
                                    type: string
                                required:
                                - clientId
                                - clientSecret
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Redis Credentials
                          connection:
                            type: string
                            enum:
                            - redis
                          type:
                            type: string
                            enum:
                            - redis-credentials
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - MongoDB Credentials
                          connection:
                            type: string
                            enum:
                            - mongodb
                          type:
                            type: string
                            enum:
                            - mongodb-credentials
                          template:
                            type: object
                            properties:
                              createUserStatement:
                                type: string
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - createUserStatement
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Databricks Service Principal Secret
                          connection:
                            type: string
                            enum:
                            - databricks
                          type:
                            type: string
                            enum:
                            - databricks-service-principal-secret
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  clientId:
                                    type: string
                                  clientSecret:
                                    type: string
                                required:
                                - clientId
                                - clientSecret
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Unix/Linux Local Account
                          connection:
                            type: string
                            enum:
                            - ssh
                          type:
                            type: string
                            enum:
                            - unix-linux-local-account
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - DBT Service Token
                          connection:
                            type: string
                            enum:
                            - dbt
                          type:
                            type: string
                            enum:
                            - dbt-service-token
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  serviceToken:
                                    type: string
                                required:
                                - serviceToken
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Windows Local Account
                          connection:
                            type: string
                            enum:
                            - smb
                          type:
                            type: string
                            enum:
                            - windows-local-account
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - OpenRouter API Key
                          connection:
                            type: string
                            enum:
                            - open-router
                          type:
                            type: string
                            enum:
                            - open-router-api-key
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  apiKey:
                                    type: string
                                required:
                                - apiKey
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - HP iLO Local Account
                          connection:
                            type: string
                            enum:
                            - ssh
                          type:
                            type: string
                            enum:
                            - hp-ilo-local-account
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                required:
                                - username
                                - password
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Supabase API Key
                          connection:
                            type: string
                            enum:
                            - supabase
                          type:
                            type: string
                            enum:
                            - supabase-api-key
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  apiKey:
                                    type: string
                                required:
                                - apiKey
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Salesforce OAuth Credentials
                          connection:
                            type: string
                            enum:
                            - salesforce
                          type:
                            type: string
                            enum:
                            - salesforce-oauth-credentials
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  consumerKey:
                                    type: string
                                  consumerSecret:
                                    type: string
                                required:
                                - consumerKey
                                - consumerSecret
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Datadog Application Key Secret
                          connection:
                            type: string
                            enum:
                            - datadog
                          type:
                            type: string
                            enum:
                            - datadog-application-key-secret
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  applicationKeyId:
                                    type: string
                                  applicationKey:
                                    type: string
                                required:
                                - applicationKeyId
                                - applicationKey
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                      - type: object
                        properties:
                          name:
                            type: string
                            enum:
                            - Convex Access Key
                          connection:
                            type: string
                            enum:
                            - convex
                          type:
                            type: string
                            enum:
                            - convex-access-key
                          template:
                            type: object
                            properties:
                              secretsMapping:
                                type: object
                                properties:
                                  accessKey:
                                    type: string
                                required:
                                - accessKey
                                additionalProperties: false
                            required:
                            - secretsMapping
                            additionalProperties: false
                        required:
                        - name
                        - connection
                        - type
                        - template
                        additionalProperties: false
                required:
                - secretRotationOptions
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v2/secret-rotations:
    get:
      operationId: listSecretRotations
      tags:
      - Secret Rotations
      description: List all the Secret Rotations for the specified project.
      parameters:
      - schema:
          type: string
          minLength: 1
        in: query
        name: projectId
        required: true
        description: The ID of the project to list Secret Rotations from.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  secretRotations:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          isAutoRotationEnabled:
                            type: boolean
                            default: true
                          activeIndex:
                            type: number
                            default: 0
                          folderId:
                            type: string
                            format: uuid
                          connectionId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          rotationInterval:
                            type: number
                          rotationStatus:
                            type: string
                          lastRotationAttemptedAt:
                            type: string
                            format: date-time
                          lastRotatedAt:
                            type: string
                            format: date-time
                          lastRotationJobId:
                            type: string
                            nullable: true
                          nextRotationAt:
                            type: string
                            format: date-time
                            nullable: true
                          isLastRotationManual:
                            type: boolean
                            default: true
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - postgres
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          environment:
                            type: object
                            properties:
                              slug:
                                type: string
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - slug
                            - name
                            - id
                            additionalProperties: false
                          projectId:
                            type: string
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              path:
                                type: string
                            required:
                            - id
                            - path
                            additionalProperties: false
                          rotateAtUtc:
                            type: object
                            properties:
                              hours:
                                type: number
                                minimum: 0
                                maximum: 23
                              minutes:
                                type: number
                                minimum: 0
                                maximum: 59
                            required:
                            - hours
                            - minutes
                            additionalProperties: false
                          lastRotationMessage:
                            type: string
                            nullable: true
                          type:
                            type: string
                            enum:
                            - postgres-credentials
                          parameters:
                            type: object
                            properties:
                              username1:
                                type: string
                                minLength: 1
                                description: The username of the first login to rotate passwords for. This user must already exists in your database.
                              username2:
                                type: string
                                minLength: 1
                                description: The username of the second login to rotate passwords for. This user must already exists in your database.
                              rotationStatement:
                                type: string
                                minLength: 1
                                description: The SQL template query used for rotation.
                              passwordRequirements:
                                type: object
                                properties:
                                  length:
                                    type: number
                                    minimum: 1
                                    maximum: 250
                                    description: The length of the password to generate.
                                  required:
                                    type: object
                                    properties:
                                      digits:
                                        type: number
                                        minimum: 0
                                        description: The amount of digits to require in the generated password.
                                      lowercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of lowercase characters to require in the generated password.
                                      uppercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of uppercase characters to require in the generated password.
                                      symbols:
                                        type: number
                                        minimum: 0
                                        description: The amount of symbols to require in the generated password.
                                    required:
                                    - digits
                                    - lowercase
                                    - uppercase
                                    - symbols
                                    additionalProperties: false
                                  allowedSymbols:
                                    type: string
                                    pattern: '[!@#$%^&*()_+\-=\[\]{};'':"\\|,.<>\/?~]'
                                    description: The allowed symbols to use in the generated password (defaults to "-_.~!*").
                                required:
                                - length
                                - required
                                additionalProperties: false
                                description: The password requirements to use when generating the new password.
                            required:
                            - username1
                            - username2
                            additionalProperties: false
                          secretsMapping:
                            type: object
                            properties:
                              username:
                                type: string
                                minLength: 1
                                description: The name of the secret that the active username will be mapped to.
                              password:
                                type: string
                                minLength: 1
                                description: The name of the secret that the generated password will be mapped to.
                            required:
                            - username
                            - password
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - folderId
                        - connectionId
                        - createdAt
                        - updatedAt
                        - rotationInterval
                        - rotationStatus
                        - lastRotationAttemptedAt
                        - lastRotatedAt
                        - connection
                        - environment
                        - projectId
                        - folder
                        - rotateAtUtc
                        - type
                        - parameters
                        - secretsMapping
                        additionalProperties: false
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          isAutoRotationEnabled:
                            type: boolean
                            default: true
                          activeIndex:
                            type: number
                            default: 0
                          folderId:
                            type: string
                            format: uuid
                          connectionId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          rotationInterval:
                            type: number
                          rotationStatus:
                            type: string
                          lastRotationAttemptedAt:
                            type: string
                            format: date-time
                          lastRotatedAt:
                            type: string
                            format: date-time
                          lastRotationJobId:
                            type: string
                            nullable: true
                          nextRotationAt:
                            type: string
                            format: date-time
                            nullable: true
                          isLastRotationManual:
                            type: boolean
                            default: true
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - mssql
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          environment:
                            type: object
                            properties:
                              slug:
                                type: string
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - slug
                            - name
                            - id
                            additionalProperties: false
                          projectId:
                            type: string
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              path:
                                type: string
                            required:
                            - id
                            - path
                            additionalProperties: false
                          rotateAtUtc:
                            type: object
                            properties:
                              hours:
                                type: number
                                minimum: 0
                                maximum: 23
                              minutes:
                                type: number
                                minimum: 0
                                maximum: 59
                            required:
                            - hours
                            - minutes
                            additionalProperties: false
                          lastRotationMessage:
                            type: string
                            nullable: true
                          type:
                            type: string
                            enum:
                            - mssql-credentials
                          parameters:
                            type: object
                            properties:
                              username1:
                                type: string
                                minLength: 1
                                description: The username of the first login to rotate passwords for. This user must already exists in your database.
                              username2:
                                type: string
                                minLength: 1
                                description: The username of the second login to rotate passwords for. This user must already exists in your database.
                              rotationStatement:
                                type: string
                                minLength: 1
                                description: The SQL template query used for rotation.
                              passwordRequirements:
                                type: object
                                properties:
                                  length:
                                    type: number
                                    minimum: 1
                                    maximum: 250
                                    description: The length of the password to generate.
                                  required:
                                    type: object
                                    properties:
                                      digits:
                                        type: number
                                        minimum: 0
                                        description: The amount of digits to require in the generated password.
                                      lowercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of lowercase characters to require in the generated password.
                                      uppercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of uppercase characters to require in the generated password.
                                      symbols:
                                        type: number
                                        minimum: 0
                                        description: The amount of symbols to require in the generated password.
                                    required:
                                    - digits
                                    - lowercase
                                    - uppercase
                                    - symbols
                                    additionalProperties: false
                                  allowedSymbols:
                                    type: string
                                    pattern: '[!@#$%^&*()_+\-=\[\]{};'':"\\|,.<>\/?~]'
                                    description: The allowed symbols to use in the generated password (defaults to "-_.~!*").
                                required:
                                - length
                                - required
                                additionalProperties: false
                                description: The password requirements to use when generating the new password.
                            required:
                            - username1
                            - username2
                            additionalProperties: false
                          secretsMapping:
                            type: object
                            properties:
                              username:
                                type: string
                                minLength: 1
                                description: The name of the secret that the active username will be mapped to.
                              password:
                                type: string
                                minLength: 1
                                description: The name of the secret that the generated password will be mapped to.
                            required:
                            - username
                            - password
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - folderId
                        - connectionId
                        - createdAt
                        - updatedAt
                        - rotationInterval
                        - rotationStatus
                        - lastRotationAttemptedAt
                        - lastRotatedAt
                        - connection
                        - environment
                        - projectId
                        - folder
                        - rotateAtUtc
                        - type
                        - parameters
                        - secretsMapping
                        additionalProperties: false
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          isAutoRotationEnabled:
                            type: boolean
                            default: true
                          activeIndex:
                            type: number
                            default: 0
                          folderId:
                            type: string
                            format: uuid
                          connectionId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          rotationInterval:
                            type: number
                          rotationStatus:
                            type: string
                          lastRotationAttemptedAt:
                            type: string
                            format: date-time
                          lastRotatedAt:
                            type: string
                            format: date-time
                          lastRotationJobId:
                            type: string
                            nullable: true
                          nextRotationAt:
                            type: string
                            format: date-time
                            nullable: true
                          isLastRotationManual:
                            type: boolean
                            default: true
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - mysql
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          environment:
                            type: object
                            properties:
                              slug:
                                type: string
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - slug
                            - name
                            - id
                            additionalProperties: false
                          projectId:
                            type: string
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              path:
                                type: string
                            required:
                            - id
                            - path
                            additionalProperties: false
                          rotateAtUtc:
                            type: object
                            properties:
                              hours:
                                type: number
                                minimum: 0
                                maximum: 23
                              minutes:
                                type: number
                                minimum: 0
                                maximum: 59
                            required:
                            - hours
                            - minutes
                            additionalProperties: false
                          lastRotationMessage:
                            type: string
                            nullable: true
                          type:
                            type: string
                            enum:
                            - mysql-credentials
                          parameters:
                            type: object
                            properties:
                              username1:
                                type: string
                                minLength: 1
                                description: The username of the first login to rotate passwords for. This user must already exists in your database.
                              username2:
                                type: string
                                minLength: 1
                                description: The username of the second login to rotate passwords for. This user must already exists in your database.
                              rotationStatement:
                                type: string
                                minLength: 1
                                description: The SQL template query used for rotation.
                              passwordRequirements:
                                type: object
                                properties:
                                  length:
                                    type: number
                                    minimum: 1
                                    maximum: 250
                                    description: The length of the password to generate.
                                  required:
                                    type: object
                                    properties:
                                      digits:
                                        type: number
                                        minimum: 0
                                        description: The amount of digits to require in the generated password.
                                      lowercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of lowercase characters to require in the generated password.
                                      uppercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of uppercase characters to require in the generated password.
                                      symbols:
                                        type: number
                                        minimum: 0
                                        description: The amount of symbols to require in the generated password.
                                    required:
                                    - digits
                                    - lowercase
                                    - uppercase
                                    - symbols
                                    additionalProperties: false
                                  allowedSymbols:
                                    type: string
                                    pattern: '[!@#$%^&*()_+\-=\[\]{};'':"\\|,.<>\/?~]'
                                    description: The allowed symbols to use in the generated password (defaults to "-_.~!*").
                                required:
                                - length
                                - required
                                additionalProperties: false
                                description: The password requirements to use when generating the new password.
                            required:
                            - username1
                            - username2
                            additionalProperties: false
                          secretsMapping:
                            type: object
                            properties:
                              username:
                                type: string
                                minLength: 1
                                description: The name of the secret that the active username will be mapped to.
                              password:
                                type: string
                                minLength: 1
                                description: The name of the secret that the generated password will be mapped to.
                            required:
                            - username
                            - password
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - folderId
                        - connectionId
                        - createdAt
                        - updatedAt
                        - rotationInterval
                        - rotationStatus
                        - lastRotationAttemptedAt
                        - lastRotatedAt
                        - connection
                        - environment
                        - projectId
                        - folder
                        - rotateAtUtc
                        - type
                        - parameters
                        - secretsMapping
                        additionalProperties: false
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          isAutoRotationEnabled:
                            type: boolean
                            default: true
                          activeIndex:
                            type: number
                            default: 0
                          folderId:
                            type: string
                            format: uuid
                          connectionId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          rotationInterval:
                            type: number
                          rotationStatus:
                            type: string
                          lastRotationAttemptedAt:
                            type: string
                            format: date-time
                          lastRotatedAt:
                            type: string
                            format: date-time
                          lastRotationJobId:
                            type: string
                            nullable: true
                          nextRotationAt:
                            type: string
                            format: date-time
                            nullable: true
                          isLastRotationManual:
                            type: boolean
                            default: true
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - oracledb
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          environment:
                            type: object
                            properties:
                              slug:
                                type: string
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - slug
                            - name
                            - id
                            additionalProperties: false
                          projectId:
                            type: string
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              path:
                                type: string
                            required:
                            - id
                            - path
                            additionalProperties: false
                          rotateAtUtc:
                            type: object
                            properties:
                              hours:
                                type: number
                                minimum: 0
                                maximum: 23
                              minutes:
                                type: number
                                minimum: 0
                                maximum: 59
                            required:
                            - hours
                            - minutes
                            additionalProperties: false
                          lastRotationMessage:
                            type: string
                            nullable: true
                          type:
                            type: string
                            enum:
                            - oracledb-credentials
                          parameters:
                            type: object
                            properties:
                              username1:
                                type: string
                                minLength: 1
                                description: The username of the first login to rotate passwords for. This user must already exists in your database.
                              username2:
                                type: string
                                minLength: 1
                                description: The username of the second login to rotate passwords for. This user must already exists in your database.
                              rotationStatement:
                                type: string
                                minLength: 1
                                description: The SQL template query used for rotation.
                              passwordRequirements:
                                type: object
                                properties:
                                  length:
                                    type: number
                                    minimum: 1
                                    maximum: 250
                                    description: The length of the password to generate.
                                  required:
                                    type: object
                                    properties:
                                      digits:
                                        type: number
                                        minimum: 0
                                        description: The amount of digits to require in the generated password.
                                      lowercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of lowercase characters to require in the generated password.
                                      uppercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of uppercase characters to require in the generated password.
                                      symbols:
                                        type: number
                                        minimum: 0
                                        description: The amount of symbols to require in the generated password.
                                    required:
                                    - digits
                                    - lowercase
                                    - uppercase
                                    - symbols
                                    additionalProperties: false
                                  allowedSymbols:
                                    type: string
                                    pattern: '[!@#$%^&*()_+\-=\[\]{};'':"\\|,.<>\/?~]'
                                    description: The allowed symbols to use in the generated password (defaults to "-_.~!*").
                                required:
                                - length
                                - required
                                additionalProperties: false
                                description: The password requirements to use when generating the new password.
                            required:
                            - username1
                            - username2
                            additionalProperties: false
                          secretsMapping:
                            type: object
                            properties:
                              username:
                                type: string
                                minLength: 1
                                description: The name of the secret that the active username will be mapped to.
                              password:
                                type: string
                                minLength: 1
                                description: The name of the secret that the generated password will be mapped to.
                            required:
                            - username
                            - password
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - folderId
                        - connectionId
                        - createdAt
                        - updatedAt
                        - rotationInterval
                        - rotationStatus
                        - lastRotationAttemptedAt
                        - lastRotatedAt
                        - connection
                        - environment
                        - projectId
                        - folder
                        - rotateAtUtc
                        - type
                        - parameters
                        - secretsMapping
                        additionalProperties: false
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          isAutoRotationEnabled:
                            type: boolean
                            default: true
                          activeIndex:
                            type: number
                            default: 0
                          folderId:
                            type: string
                            format: uuid
                          connectionId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          rotationInterval:
                            type: number
                          rotationStatus:
                            type: string
                          lastRotationAttemptedAt:
                            type: string
                            format: date-time
                          lastRotatedAt:
                            type: string
                            format: date-time
                          lastRotationJobId:
                            type: string
                            nullable: true
                          nextRotationAt:
                            type: string
                            format: date-time
                            nullable: true
                          isLastRotationManual:
                            type: boolean
                            default: true
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - auth0
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          environment:
                            type: object
                            properties:
                              slug:
                                type: string
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - slug
                            - name
                            - id
                            additionalProperties: false
                          projectId:
                            type: string
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              path:
                                type: string
                            required:
                            - id
                            - path
                            additionalProperties: false
                          rotateAtUtc:
                            type: object
                            properties:
                              hours:
                                type: number
                                minimum: 0
                                maximum: 23
                              minutes:
                                type: number
                                minimum: 0
                                maximum: 59
                            required:
                            - hours
                            - minutes
                            additionalProperties: false
                          lastRotationMessage:
                            type: string
                            nullable: true
                          type:
                            type: string
                            enum:
                            - auth0-client-secret
                          parameters:
                            type: object
                            properties:
                              clientId:
                                type: string
                                minLength: 1
                                description: The client ID of the Auth0 Application to rotate the client secret for.
                            required:
                            - clientId
                            additionalProperties: false
                          secretsMapping:
                            type: object
                            properties:
                              clientId:
                                type: string
                                minLength: 1
                                description: The name of the secret that the client ID will be mapped to.
                              clientSecret:
                                type: string
                                minLength: 1
                                description: The name of the secret that the rotated client secret will be mapped to.
                            required:
                            - clientId
                            - clientSecret
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - folderId
                        - connectionId
                        - createdAt
                        - updatedAt
                        - rotationInterval
                        - rotationStatus
                        - lastRotationAttemptedAt
                        - lastRotatedAt
                        - connection
                        - environment
                        - projectId
                        - folder
                        - rotateAtUtc
                        - type
                        - parameters
                        - secretsMapping
                        additionalProperties: false
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          isAutoRotationEnabled:
                            type: boolean
                            default: true
                          activeIndex:
                            type: number
                            default: 0
                          folderId:
                            type: string
                            format: uuid
                          connectionId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          rotationInterval:
                            type: number
                          rotationStatus:
                            type: string
                          lastRotationAttemptedAt:
                            type: string
                            format: date-time
                          lastRotatedAt:
                            type: string
                            format: date-time
                          lastRotationJobId:
                            type: string
                            nullable: true
                          nextRotationAt:
                            type: string
                            format: date-time
                            nullable: true
                          isLastRotationManual:
                            type: boolean
                            default: true
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - azure-client-secrets
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          environment:
                            type: object
                            properties:
                              slug:
                                type: string
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - slug
                            - name
                            - id
                            additionalProperties: false
                          projectId:
                            type: string
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              path:
                                type: string
                            required:
                            - id
                            - path
                            additionalProperties: false
                          rotateAtUtc:
                            type: object
                            properties:
                              hours:
                                type: number
                                minimum: 0
                                maximum: 23
                              minutes:
                                type: number
                                minimum: 0
                                maximum: 59
                            required:
                            - hours
                            - minutes
                            additionalProperties: false
                          lastRotationMessage:
                            type: string
                            nullable: true
                          type:
                            type: string
                            enum:
                            - azure-client-secret
                          parameters:
                            type: object
                            properties:
                              objectId:
                                type: string
                                minLength: 1
                                description: The ID of the Azure Application to rotate the client secret for.
                              appName:
                                type: string
                                description: The name of the Azure Application to rotate the client secret for.
                              clientId:
                                type: string
                                minLength: 1
                                description: The client ID of the Azure Application to rotate the client secret for.
                            required:
                            - objectId
                            - clientId
                            additionalProperties: false
                          secretsMapping:
                            type: object
                            properties:
                              clientId:
                                type: string
                                minLength: 1
                                description: The name of the secret that the client ID will be mapped to.
                              clientSecret:
                                type: string
                                minLength: 1
                                description: The name of the secret that the rotated client secret will be mapped to.
                            required:
                            - clientId
                            - clientSecret
                            additionalProperties: false
                        required:
                        - id
                        - name
                        - folderId
                        - connectionId
                        - createdAt
                        - updatedAt
                        - rotationInterval
                        - rotationStatus
                        - lastRotationAttemptedAt
                        - lastRotatedAt
                        - connection
                        - environment
                        - projectId
                        - folder
                        - rotateAtUtc
                        - type
                        - parameters
                        - secretsMapping
                        additionalProperties: false
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          description:
                            type: string
                            nullable: true
                          isAutoRotationEnabled:
                            type: boolean
                            default: true
                          activeIndex:
                            type: number
                            default: 0
                          folderId:
                            type: string
                            format: uuid
                          connectionId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
                          rotationInterval:
                            type: number
                          rotationStatus:
                            type: string
                          lastRotationAttemptedAt:
                            type: string
                            format: date-time
                          lastRotatedAt:
                            type: string
                            format: date-time
                          lastRotationJobId:
                            type: string
                            nullable: true
                          nextRotationAt:
                            type: string
                            format: date-time
                            nullable: true
                          isLastRotationManual:
                            type: boolean
                            default: true
                          connection:
                            type: object
                            properties:
                              app:
                                type: string
                                enum:
                                - ldap
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - app
                            - name
                            - id
                            additionalProperties: false
                          environment:
                            type: object
                            properties:
                              slug:
                                type: string
                              name:
                                type: string
                              id:
                                type: string
                                format: uuid
                            required:
                            - slug
                            - name
                            - id
                            additionalProperties: false
                          projectId:
                            type: string
                          folder:
                            type: object
                            properties:
                              id:
                                type: string
                              path:
                                type: string
                            required:
                            - id
                            - path
                            additionalProperties: false
                          rotateAtUtc:
                            type: object
                            properties:
                              hours:
                                type: number
                                minimum: 0
                                maximum: 23
                              minutes:
                                type: number
                                minimum: 0
                                maximum: 59
                            required:
                            - hours
                            - minutes
                            additionalProperties: false
                          lastRotationMessage:
                            type: string
                            nullable: true
                          type:
                            type: string
                            enum:
                            - ldap-password
                          parameters:
                            type: object
                            properties:
                              dn:
                                type: string
                                minLength: 1
                                description: The Distinguished Name (DN) or User Principal Name (UPN) of the principal to rotate the password for.
                              passwordRequirements:
                                type: object
                                properties:
                                  length:
                                    type: number
                                    minimum: 1
                                    maximum: 250
                                    description: The length of the password to generate.
                                  required:
                                    type: object
                                    properties:
                                      digits:
                                        type: number
                                        minimum: 0
                                        description: The amount of digits to require in the generated password.
                                      lowercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of lowercase characters to require in the generated password.
                                      uppercase:
                                        type: number
                                        minimum: 0
                                        description: The amount of uppercase characters to require in the generated password.
                                      symbols:
                                        type: number
                                        minimum: 0
                                        description: The amount of symbols to require in the generated password.
                                    required:
                                    - digits
                                    - lowercase
                                    - uppercase
                                    - symbols
                                    additionalProperties: false
                                  allowedSymbols:
                                    type: string
                                    pattern: '[!@#$%^&*()_+\-=\[\]{};'':"\\|,.<>\/?~]'
                                    description: The allowed symbols to use in the generated password (defaults to "-_.~!*").
                                required:
                                - length
                                - required
                                additionalProperties: false
                                description: The password requirements to use when generating the new password.
                              rotationMethod:
                                type: string
                                enum:
                                - connection-principal
                                - target-principal
[...]
