openapi: 3.0.3
info:
  title: Infisical Admin PKI Signers API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: PKI Signers
paths:
  /api/v1/cert-manager/signers:
    post:
      operationId: createSigner
      tags:
      - PKI Signers
      description: Create a code signing signer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
                description:
                  type: string
                  maxLength: 256
                caId:
                  type: string
                  format: uuid
                commonName:
                  type: string
                  minLength: 1
                  maxLength: 256
                certificateTtlDays:
                  type: integer
                  minimum: 1
                  maximum: 3650
                certificateRenewBeforeDays:
                  type: integer
                  minimum: 1
                  maximum: 30
                  nullable: true
                keyAlgorithm:
                  type: string
                  enum:
                  - RSA_2048
                  - RSA_3072
                  - RSA_4096
                  - EC_prime256v1
                  - EC_secp384r1
                  - EC_secp521r1
                certificateId:
                  type: string
                  format: uuid
                approvalPolicyId:
                  type: string
                  format: uuid
                members:
                  type: array
                  items:
                    type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - user
                        - identity
                        - group
                      id:
                        type: string
                        format: uuid
                      role:
                        type: string
                        minLength: 1
                    required:
                    - kind
                    - id
                    - role
                    additionalProperties: false
                approvalPolicy:
                  type: object
                  properties:
                    steps:
                      type: array
                      items:
                        type: object
                        properties:
                          stepNumber:
                            type: integer
                            minimum: 1
                          name:
                            type: string
                            maxLength: 64
                            nullable: true
                          requiredApprovals:
                            type: integer
                            minimum: 1
                          approverUserIds:
                            type: array
                            items:
                              type: string
                              format: uuid
                            default: []
                          approverGroupIds:
                            type: array
                            items:
                              type: string
                              format: uuid
                            default: []
                        required:
                        - stepNumber
                        - requiredApprovals
                        additionalProperties: false
                    constraints:
                      type: object
                      properties:
                        maxSignings:
                          type: integer
                          minimum: 1
                          nullable: true
                        maxWindowDuration:
                          type: string
                          nullable: true
                      additionalProperties: false
                  required:
                  - steps
                  additionalProperties: false
              required:
              - name
              additionalProperties: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                    default: active
                  certificateId:
                    type: string
                    format: uuid
                    nullable: true
                  approvalPolicyId:
                    type: string
                    format: uuid
                    nullable: true
                  lastSignedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  caId:
                    type: string
                    format: uuid
                    nullable: true
                  commonName:
                    type: string
                    nullable: true
                  certificateTtlDays:
                    type: number
                    nullable: true
                  certificateRenewBeforeDays:
                    type: number
                    nullable: true
                  certificateFailureReason:
                    type: string
                    nullable: true
                  keyAlgorithm:
                    type: string
                    default: RSA_2048
                required:
                - id
                - name
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    get:
      operationId: listSigners
      tags:
      - PKI Signers
      description: List code signing signers for a project
      parameters:
      - schema:
          type: integer
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        in: query
        name: limit
        required: false
      - schema:
          type: string
        in: query
        name: search
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  signers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        status:
                          type: string
                          default: active
                        certificateId:
                          type: string
                          format: uuid
                          nullable: true
                        approvalPolicyId:
                          type: string
                          format: uuid
                          nullable: true
                        lastSignedAt:
                          type: string
                          format: date-time
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        caId:
                          type: string
                          format: uuid
                          nullable: true
                        commonName:
                          type: string
                          nullable: true
                        certificateTtlDays:
                          type: number
                          nullable: true
                        certificateRenewBeforeDays:
                          type: number
                          nullable: true
                        certificateFailureReason:
                          type: string
                          nullable: true
                        keyAlgorithm:
                          type: string
                          default: RSA_2048
                        certificateCommonName:
                          type: string
                          nullable: true
                        certificateSerialNumber:
                          type: string
                          nullable: true
                        certificateNotAfter:
                          type: string
                          format: date-time
                          nullable: true
                        approvalPolicyName:
                          type: string
                          nullable: true
                      required:
                      - id
                      - name
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                  totalCount:
                    type: number
                required:
                - signers
                - totalCount
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}:
    get:
      operationId: getSignerById
      tags:
      - PKI Signers
      description: Get a code signing signer by ID
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                    default: active
                  certificateId:
                    type: string
                    format: uuid
                    nullable: true
                  approvalPolicyId:
                    type: string
                    format: uuid
                    nullable: true
                  lastSignedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  caId:
                    type: string
                    format: uuid
                    nullable: true
                  commonName:
                    type: string
                    nullable: true
                  certificateTtlDays:
                    type: number
                    nullable: true
                  certificateRenewBeforeDays:
                    type: number
                    nullable: true
                  certificateFailureReason:
                    type: string
                    nullable: true
                  keyAlgorithm:
                    type: string
                    default: RSA_2048
                  certificateCommonName:
                    type: string
                    nullable: true
                  certificateSerialNumber:
                    type: string
                    nullable: true
                  certificateNotAfter:
                    type: string
                    format: date-time
                    nullable: true
                  certificateNotBefore:
                    type: string
                    format: date-time
                    nullable: true
                  certificateKeyAlgorithm:
                    type: string
                    nullable: true
                  certificateStatus:
                    type: string
                    nullable: true
                  certificateCaId:
                    type: string
                    nullable: true
                  approvalPolicyName:
                    type: string
                    nullable: true
                required:
                - id
                - name
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    patch:
      operationId: updateSigner
      tags:
      - PKI Signers
      description: Update a code signing signer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
                description:
                  type: string
                  maxLength: 256
                  nullable: true
                certificateRenewBeforeDays:
                  type: integer
                  minimum: 1
                  maximum: 30
                  nullable: true
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                    default: active
                  certificateId:
                    type: string
                    format: uuid
                    nullable: true
                  approvalPolicyId:
                    type: string
                    format: uuid
                    nullable: true
                  lastSignedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  caId:
                    type: string
                    format: uuid
                    nullable: true
                  commonName:
                    type: string
                    nullable: true
                  certificateTtlDays:
                    type: number
                    nullable: true
                  certificateRenewBeforeDays:
                    type: number
                    nullable: true
                  certificateFailureReason:
                    type: string
                    nullable: true
                  keyAlgorithm:
                    type: string
                    default: RSA_2048
                required:
                - id
                - name
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    delete:
      operationId: deleteSigner
      tags:
      - PKI Signers
      description: Delete a code signing signer
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                    default: active
                  certificateId:
                    type: string
                    format: uuid
                    nullable: true
                  approvalPolicyId:
                    type: string
                    format: uuid
                    nullable: true
                  lastSignedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  caId:
                    type: string
                    format: uuid
                    nullable: true
                  commonName:
                    type: string
                    nullable: true
                  certificateTtlDays:
                    type: number
                    nullable: true
                  certificateRenewBeforeDays:
                    type: number
                    nullable: true
                  certificateFailureReason:
                    type: string
                    nullable: true
                  keyAlgorithm:
                    type: string
                    default: RSA_2048
                required:
                - id
                - name
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/permissions:
    get:
      operationId: getSignerPermissions
      tags:
      - PKI Signers
      description: Get the actor's effective resource permissions on this signer.
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      permissions:
                        type: array
                      memberships:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            actorUserId:
                              type: string
                              nullable: true
                            actorIdentityId:
                              type: string
                              nullable: true
                            actorGroupId:
                              type: string
                              nullable: true
                            roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  role:
                                    type: string
                                  customRoleSlug:
                                    type: string
                                    nullable: true
                                required:
                                - role
                                additionalProperties: false
                          required:
                          - id
                          - roles
                          additionalProperties: false
                    required:
                    - permissions
                    - memberships
                    additionalProperties: false
                required:
                - data
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/status:
    patch:
      operationId: updateSignerStatus
      tags:
      - PKI Signers
      description: Enable or disable a signer in a single endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - active
                  - disabled
              required:
              - status
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                    default: active
                  certificateId:
                    type: string
                    format: uuid
                    nullable: true
                  approvalPolicyId:
                    type: string
                    format: uuid
                    nullable: true
                  lastSignedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  caId:
                    type: string
                    format: uuid
                    nullable: true
                  commonName:
                    type: string
                    nullable: true
                  certificateTtlDays:
                    type: number
                    nullable: true
                  certificateRenewBeforeDays:
                    type: number
                    nullable: true
                  certificateFailureReason:
                    type: string
                    nullable: true
                  keyAlgorithm:
                    type: string
                    default: RSA_2048
                required:
                - id
                - name
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/sign:
    post:
      operationId: signData
      tags:
      - PKI Signers
      description: Sign a pre-hashed digest with a code signing signer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  minLength: 1
                  maxLength: 172
                signingAlgorithm:
                  type: string
                  enum:
                  - RSASSA_PSS_SHA_512
                  - RSASSA_PSS_SHA_384
                  - RSASSA_PSS_SHA_256
                  - RSASSA_PKCS1_V1_5_SHA_512
                  - RSASSA_PKCS1_V1_5_SHA_384
                  - RSASSA_PKCS1_V1_5_SHA_256
                  - ECDSA_SHA_512
                  - ECDSA_SHA_384
                  - ECDSA_SHA_256
                  - ML_DSA_44
                  - ML_DSA_65
                  - ML_DSA_87
                isDigest:
                  type: boolean
                  default: false
                clientMetadata:
                  type: object
                  properties:
                    tool:
                      type: string
                      maxLength: 128
                    hostname:
                      type: string
                      maxLength: 256
                    reportedIp:
                      type: string
                      maxLength: 64
                  additionalProperties: false
              required:
              - data
              - signingAlgorithm
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                  signingAlgorithm:
                    type: string
                  signerId:
                    type: string
                required:
                - signature
                - signingAlgorithm
                - signerId
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/public-key:
    get:
      operationId: getSignerPublicKey
      tags:
      - PKI Signers
      description: Get the public key for a code signing signer
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicKey:
                    type: string
                  algorithm:
                    type: string
                required:
                - publicKey
                - algorithm
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/certificate/reissue:
    post:
      operationId: reissueSignerCertificate
      tags:
      - PKI Signers
      description: Re-issue the signer's certificate (optionally from a different CA)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                caId:
                  type: string
                  format: uuid
                commonName:
                  type: string
                  minLength: 1
                  maxLength: 256
                certificateTtlDays:
                  type: integer
                  minimum: 1
                  maximum: 3650
              required:
              - caId
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                    default: active
                  certificateId:
                    type: string
                    format: uuid
                    nullable: true
                  approvalPolicyId:
                    type: string
                    format: uuid
                    nullable: true
                  lastSignedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  caId:
                    type: string
                    format: uuid
                    nullable: true
                  commonName:
                    type: string
                    nullable: true
                  certificateTtlDays:
                    type: number
                    nullable: true
                  certificateRenewBeforeDays:
                    type: number
                    nullable: true
                  certificateFailureReason:
                    type: string
                    nullable: true
                  keyAlgorithm:
                    type: string
                    default: RSA_2048
                required:
                - id
                - name
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/certificate:
    get:
      operationId: exportSignerCertificate
      tags:
      - PKI Signers
      description: Export the signer's leaf certificate as PEM
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificatePem:
                    type: string
                  serialNumber:
                    type: string
                  signerName:
                    type: string
                required:
                - certificatePem
                - serialNumber
                - signerName
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/approval-policy:
    get:
      operationId: getSignerApprovalPolicy
      tags:
      - PKI Signers
      description: Read the signer's approval policy (steps, approvers, limits)
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  signerId:
                    type: string
                    format: uuid
                  hasSteps:
                    type: boolean
                  steps:
                    type: array
                  constraints:
                    type: object
                    properties:
                      maxSignings:
                        type: number
                        nullable: true
                      maxWindowDuration:
                        type: string
                        nullable: true
                    required:
                    - maxSignings
                    - maxWindowDuration
                    additionalProperties: false
                required:
                - id
                - signerId
                - hasSteps
                - steps
                - constraints
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    put:
      operationId: updateSignerApprovalPolicy
      tags:
      - PKI Signers
      description: Replace the signer's approval policy (steps, approvers, limits)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                steps:
                  type: array
                  items:
                    type: object
                    properties:
                      stepNumber:
                        type: integer
                        minimum: 1
                      name:
                        type: string
                        maxLength: 64
                        nullable: true
                      requiredApprovals:
                        type: integer
                        minimum: 1
                      approverUserIds:
                        type: array
                        items:
                          type: string
                          format: uuid
                        default: []
                      approverGroupIds:
                        type: array
                        items:
                          type: string
                          format: uuid
                        default: []
                    required:
                    - stepNumber
                    - requiredApprovals
                    additionalProperties: false
                constraints:
                  type: object
                  properties:
                    maxSignings:
                      type: integer
                      minimum: 1
                      nullable: true
                    maxWindowDuration:
                      type: string
                      nullable: true
                  additionalProperties: false
              required:
              - steps
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
  /api/v1/cert-manager/signers/{signerId}/requests:
    get:
      operationId: listSignerRequests
      tags:
      - PKI Signers
      description: List signing approval requests for a signer
      parameters:
      - schema:
          type: string
        in: query
        name: statuses
        required: false
      - schema:
          type: integer
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        in: query
        name: limit
        required: false
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
    post:
      operationId: requestToSign
      tags:
      - PKI Signers
      description: Open a request to sign with this signer (operator self-serve)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                justification:
                  type: string
                  minLength: 1
                  maxLength: 2048
                requestedSignings:
                  type: integer
                  minimum: 1
                requestedWindowStart:
                  type: string
                  format: date-time
                requestedWindowEnd:
                  type: string
                  format: date-time
              required:
              - justification
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
  /api/v1/cert-manager/signers/{signerId}/requests/pre-approve:
    post:
      operationId: preApproveSigning
      tags:
      - PKI Signers
      description: Pre-approve signing for a member (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                granteeUserId:
                  type: string
                  format: uuid
                granteeIdentityId:
                  type: string
                  format: uuid
                justification:
                  type: string
                  minLength: 1
                  maxLength: 2048
                requestedSignings:
                  type: integer
                  minimum: 1
                requestedWindowStart:
                  type: string
                  format: date-time
                requestedWindowEnd:
                  type: string
                  format: date-time
              required:
              - justification
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
  /api/v1/cert-manager/signers/{signerId}/requests/{requestId}/revoke:
    post:
      operationId: revokeSignerRequest
      tags:
      - PKI Signers
      description: Revoke a pending or active signing request
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      - schema:
          type: string
          format: uuid
        in: path
        name: requestId
        required: true
      responses:
        '200':
          description: Default Response
  /api/v1/cert-manager/signers/{signerId}/operations:
    get:
      operationId: listSigningOperations
      tags:
      - PKI Signers
      description: List signing operations for a signer
      parameters:
      - schema:
          type: integer
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        in: query
        name: limit
        required: false
      - schema:
          type: string
          enum:
          - success
          - failed
          - denied
        in: query
        name: status
        required: false
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  operations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        signerId:
                          type: string
                          format: uuid
                        status:
                          type: string
                        signingAlgorithm:
                          type: string
                        dataHash:
                          type: string
                        actorType:
                          type: string
                        actorId:
                          type: string
                          format: uuid
                        actorName:
                          type: string
                          nullable: true
                        approvalGrantId:
                          type: string
                          format: uuid
                          nullable: true
                        clientMetadata:
                          nullable: true
                        errorMessage:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        actorMembershipId:
                          type: string
                          format: uuid
                          nullable: true
                      required:
                      - id
                      - signerId
                      - status
                      - signingAlgorithm
                      - dataHash
                      - actorType
                      - actorId
                      - actorName
                      - createdAt
                      - actorMembershipId
                      additionalProperties: false
                  totalCount:
                    type: number
                required:
                - operations
                - totalCount
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/signers/{signerId}/users:
    get:
      operationId: listSignerUserMembers
      tags:
      - PKI Signers
      description: List user members of a signer
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        membershipId:
                          type: string
                          format: uuid
                        signerId:
                          type: string
                          format: uuid
                        actorUserId:
                          type: string
                          format: uuid
                          nullable: true
                        actorIdentityId:
                          type: string
                          format: uuid
                          nullable: true
                        actorGroupId:
                          type: string
                          format: uuid
                          nullable: true
                        role:
                          type: string
                        customRoleId:
                          type: string
                          format: uuid
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        details:
                          type: object
                          properties:
                            name:
                              type: string
                              nullable: true
                            email:
                              type: string
                              nullable: true
                            username:
                              type: string
                              nullable: true
                            authMethod:
                              type: string
                              nullable: true
                            slug:
                              type: string
                              nullable: true
                          required:
                          - name
                          additionalProperties: false
                          nullable: true
                      required:
                      - membershipId
                      - signerId
                      - role
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                required:
                - memberships
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    post:
      operationId: addSignerUserMembers
      tags:
      - PKI Signers
      description: Add user members to a signer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  default: []
                emails:
                  type: array
                  items:
                    type: string
                    format: email
                  default: []
                role:
                  type: string
                  enum:
                  - admin
                  - operator
                  - auditor
                  default: operator
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: signerId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      type: object
[...]
