openapi: 3.2.0
info:
  title: Infisical Secret Imports API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: Secret Imports
paths:
  /api/v1/secret-imports:
    post:
      tags:
      - Secret Imports
      description: Create secret imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  description: The ID of the project you are working in.
                environment:
                  type: string
                  description: The slug of the environment to import into.
                path:
                  type: string
                  default: /
                  description: The path to import into.
                import:
                  type: object
                  properties:
                    environment:
                      type: string
                      description: The slug of the environment to import from.
                    path:
                      type: string
                      description: The path to import from.
                  required:
                  - environment
                  - path
                  additionalProperties: false
                isReplication:
                  type: boolean
                  default: false
                  description: When true, secrets from the source will be automatically sent to the destination. If approval policies exist at the destination, the secrets will be sent as approval requests instead of being applied immediately.
              required:
              - workspaceId
              - environment
              - import
              additionalProperties: false
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - importEnv
                    additionalProperties: false
                required:
                - message
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Create api secret imports
      x-summary-source: derived
      operationId: postApiV1SecretImports
      x-operation-id-source: derived
    get:
      tags:
      - Secret Imports
      description: Get secret imports
      parameters:
      - schema:
          type: string
        in: query
        name: workspaceId
        required: true
        description: The ID of the project to list secret imports from.
      - schema:
          type: string
        in: query
        name: environment
        required: true
        description: The slug of the environment to list secret imports from.
      - schema:
          type: string
          default: /
        in: query
        name: path
        required: false
        description: The path to list secret imports from.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImports:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        version:
                          type:
                          - number
                          - 'null'
                          default: 1
                        importPath:
                          type: string
                        position:
                          type: number
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        folderId:
                          type: string
                          format: uuid
                        isReplication:
                          type:
                          - boolean
                          - 'null'
                          default: false
                        isReplicationSuccess:
                          type:
                          - boolean
                          - 'null'
                        replicationStatus:
                          type:
                          - string
                          - 'null'
                        lastReplicated:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        isReserved:
                          type:
                          - boolean
                          - 'null'
                          default: false
                        importEnv:
                          type: object
                          properties:
                            name:
                              type: string
                            slug:
                              type: string
                            id:
                              type: string
                          required:
                          - name
                          - slug
                          - id
                          additionalProperties: false
                      required:
                      - id
                      - importPath
                      - position
                      - createdAt
                      - updatedAt
                      - folderId
                      - importEnv
                      additionalProperties: false
                required:
                - message
                - secretImports
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Get api secret imports
      x-summary-source: derived
      operationId: getApiV1SecretImports
      x-operation-id-source: derived
  /api/v1/secret-imports/{secretImportId}:
    patch:
      tags:
      - Secret Imports
      description: Update secret imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  description: The ID of the project where the secret import is located.
                environment:
                  type: string
                  description: The slug of the environment where the secret import is located.
                path:
                  type: string
                  default: /
                  description: The path of the secret import to update.
                import:
                  type: object
                  properties:
                    environment:
                      type: string
                      description: The new environment slug to import from.
                    path:
                      type: string
                      description: The new path to import from.
                    position:
                      type: number
                      description: The new position of the secret import. The lowest number will be displayed as the first import.
                  additionalProperties: false
              required:
              - workspaceId
              - environment
              - import
              additionalProperties: false
      parameters:
      - schema:
          type: string
        in: path
        name: secretImportId
        required: true
        description: The ID of the secret import to update.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - importEnv
                    additionalProperties: false
                required:
                - message
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Update api secret imports by secret import id
      x-summary-source: derived
      operationId: patchApiV1SecretImportsBySecretImportId
      x-operation-id-source: derived
    delete:
      tags:
      - Secret Imports
      description: Delete secret imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  description: The ID of the project to delete the secret import from.
                environment:
                  type: string
                  description: The slug of the environment where the secret import is located.
                path:
                  type: string
                  default: /
                  description: The path of the secret import to delete.
              required:
              - workspaceId
              - environment
              additionalProperties: false
      parameters:
      - schema:
          type: string
        in: path
        name: secretImportId
        required: true
        description: The ID of the secret import to delete.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - importEnv
                    additionalProperties: false
                required:
                - message
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Delete api secret imports by secret import id
      x-summary-source: derived
      operationId: deleteApiV1SecretImportsBySecretImportId
      x-operation-id-source: derived
    get:
      tags:
      - Secret Imports
      description: Get single secret import
      parameters:
      - schema:
          type: string
        in: path
        name: secretImportId
        required: true
        description: The ID of the secret import to fetch.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      environment:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          slug:
                            type: string
                        required:
                        - id
                        - name
                        - slug
                        additionalProperties: false
                      projectId:
                        type: string
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                      secretPath:
                        type: string
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - environment
                    - projectId
                    - importEnv
                    - secretPath
                    additionalProperties: false
                required:
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Get api secret imports by secret import id
      x-summary-source: derived
      operationId: getApiV1SecretImportsBySecretImportId
      x-operation-id-source: derived
  /api/v1/secret-imports/secrets/raw:
    get:
      tags:
      - Secret Imports
      parameters:
      - schema:
          type: string
        in: query
        name: workspaceId
        required: true
      - schema:
          type: string
        in: query
        name: environment
        required: true
      - schema:
          type: string
          default: /
        in: query
        name: path
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  secrets:
                    type: array
                    items:
                      type: object
                      properties:
                        secretPath:
                          type: string
                        environment:
                          type: string
                        environmentInfo:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            slug:
                              type: string
                          required:
                          - id
                          - name
                          - slug
                          additionalProperties: false
                        folderId:
                          type: string
                        secrets:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              _id:
                                type: string
                              workspace:
                                type: string
                              environment:
                                type: string
                              version:
                                type: number
                              type:
                                type: string
                              secretKey:
                                type: string
                              secretValue:
                                type: string
                              secretComment:
                                type: string
                              secretReminderNote:
                                type:
                                - string
                                - 'null'
                              secretReminderRepeatDays:
                                type:
                                - number
                                - 'null'
                              skipMultilineEncoding:
                                type:
                                - boolean
                                - 'null'
                                default: false
                              createdAt:
                                type: string
                                format: date-time
                              updatedAt:
                                type: string
                                format: date-time
                              actor:
                                type:
                                - object
                                - 'null'
                                properties:
                                  actorId:
                                    type:
                                    - string
                                    - 'null'
                                  actorType:
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                  membershipId:
                                    type:
                                    - string
                                    - 'null'
                                  groupId:
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: false
                              isRotatedSecret:
                                type: boolean
                              rotationId:
                                type:
                                - string
                                - 'null'
                                format: uuid
                            required:
                            - id
                            - _id
                            - workspace
                            - environment
                            - version
                            - type
                            - secretKey
                            - secretValue
                            - secretComment
                            - createdAt
                            - updatedAt
                            additionalProperties: false
                      required:
                      - secretPath
                      - environment
                      - environmentInfo
                      - secrets
                      additionalProperties: false
                required:
                - secrets
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Get api secret imports secrets raw
      x-summary-source: derived
      operationId: getApiV1SecretImportsSecretsRaw
      x-operation-id-source: derived
  /api/v2/secret-imports:
    post:
      operationId: createSecretImport
      tags:
      - Secret Imports
      description: Create secret imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: string
                  description: The ID of the project you are working in.
                environment:
                  type: string
                  description: The slug of the environment to import into.
                path:
                  type: string
                  default: /
                  description: The path to import into.
                import:
                  type: object
                  properties:
                    environment:
                      type: string
                      description: The slug of the environment to import from.
                    path:
                      type: string
                      description: The path to import from.
                  required:
                  - environment
                  - path
                  additionalProperties: false
                isReplication:
                  type: boolean
                  default: false
                  description: When true, secrets from the source will be automatically sent to the destination. If approval policies exist at the destination, the secrets will be sent as approval requests instead of being applied immediately.
              required:
              - projectId
              - environment
              - import
              additionalProperties: false
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - importEnv
                    additionalProperties: false
                required:
                - message
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Create secret import
      x-summary-source: derived
    get:
      operationId: listSecretImports
      tags:
      - Secret Imports
      description: Get secret imports
      parameters:
      - schema:
          type: string
        in: query
        name: projectId
        required: true
        description: The ID of the project to list secret imports from.
      - schema:
          type: string
        in: query
        name: environment
        required: true
        description: The slug of the environment to list secret imports from.
      - schema:
          type: string
          default: /
        in: query
        name: path
        required: false
        description: The path to list secret imports from.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImports:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        version:
                          type:
                          - number
                          - 'null'
                          default: 1
                        importPath:
                          type: string
                        position:
                          type: number
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        folderId:
                          type: string
                          format: uuid
                        isReplication:
                          type:
                          - boolean
                          - 'null'
                          default: false
                        isReplicationSuccess:
                          type:
                          - boolean
                          - 'null'
                        replicationStatus:
                          type:
                          - string
                          - 'null'
                        lastReplicated:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        isReserved:
                          type:
                          - boolean
                          - 'null'
                          default: false
                        importEnv:
                          type: object
                          properties:
                            name:
                              type: string
                            slug:
                              type: string
                            id:
                              type: string
                          required:
                          - name
                          - slug
                          - id
                          additionalProperties: false
                      required:
                      - id
                      - importPath
                      - position
                      - createdAt
                      - updatedAt
                      - folderId
                      - importEnv
                      additionalProperties: false
                required:
                - message
                - secretImports
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: List secret imports
      x-summary-source: derived
  /api/v2/secret-imports/{secretImportId}:
    patch:
      operationId: updateSecretImport
      tags:
      - Secret Imports
      description: Update secret imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: string
                  description: The ID of the project where the secret import is located.
                environment:
                  type: string
                  description: The slug of the environment where the secret import is located.
                path:
                  type: string
                  default: /
                  description: The path of the secret import to update.
                import:
                  type: object
                  properties:
                    environment:
                      type: string
                      description: The new environment slug to import from.
                    path:
                      type: string
                      description: The new path to import from.
                    position:
                      type: number
                      description: The new position of the secret import. The lowest number will be displayed as the first import.
                  additionalProperties: false
              required:
              - projectId
              - environment
              - import
              additionalProperties: false
      parameters:
      - schema:
          type: string
        in: path
        name: secretImportId
        required: true
        description: The ID of the secret import to update.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - importEnv
                    additionalProperties: false
                required:
                - message
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Update secret import
      x-summary-source: derived
    delete:
      operationId: deleteSecretImport
      tags:
      - Secret Imports
      description: Delete secret imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId:
                  type: string
                  description: The ID of the project to delete the secret import from.
                environment:
                  type: string
                  description: The slug of the environment where the secret import is located.
                path:
                  type: string
                  default: /
                  description: The path of the secret import to delete.
              required:
              - projectId
              - environment
              additionalProperties: false
      parameters:
      - schema:
          type: string
        in: path
        name: secretImportId
        required: true
        description: The ID of the secret import to delete.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - importEnv
                    additionalProperties: false
                required:
                - message
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Delete secret import
      x-summary-source: derived
    get:
      operationId: getSecretImport
      tags:
      - Secret Imports
      description: Get single secret import
      parameters:
      - schema:
          type: string
        in: path
        name: secretImportId
        required: true
        description: The ID of the secret import to fetch.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  secretImport:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type:
                        - number
                        - 'null'
                        default: 1
                      importPath:
                        type: string
                      position:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      folderId:
                        type: string
                        format: uuid
                      isReplication:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      isReplicationSuccess:
                        type:
                        - boolean
                        - 'null'
                      replicationStatus:
                        type:
                        - string
                        - 'null'
                      lastReplicated:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      isReserved:
                        type:
                        - boolean
                        - 'null'
                        default: false
                      environment:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          slug:
                            type: string
                        required:
                        - id
                        - name
                        - slug
                        additionalProperties: false
                      projectId:
                        type: string
                      importEnv:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          id:
                            type: string
                        required:
                        - name
                        - slug
                        - id
                        additionalProperties: false
                      secretPath:
                        type: string
                    required:
                    - id
                    - importPath
                    - position
                    - createdAt
                    - updatedAt
                    - folderId
                    - environment
                    - projectId
                    - importEnv
                    - secretPath
                    additionalProperties: false
                required:
                - secretImport
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
      summary: Get secret import
      x-summary-source: derived
  /api/v2/secret-imports/secrets:
    get:
      operationId: getRawSecretsFromImports
      tags:
      - Secret Imports
      parameters:
      - schema:
          type: string
        in: query
        name: projectId
        required: true
      - schema:
          type: string
        in: query
        name: environment
        required: true
      - schema:
          type: string
          default: /
        in: query
        name: path
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  secrets:
                    type: array
                    items:
                      type: object
                      properties:
                        secretPath:
                          type: string
                        environment:
                          type: string
                        environmentInfo:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            slug:
                              type: string
                          required:
                          - id
                          - name
                          - slug
                          additionalProperties: false
                        folderId:
                          type: string
                        secrets:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              _id:
                                type: string
                              workspace:
                                type: string
                              environment:
                                type: string
                              version:
                                type: number
                              type:
                                type: string
                              secretKey:
                                type: string
                              secretValue:
                                type: string
                              secretComment:
                                type: string
                              secretReminderNote:
                                type:
                                - string
                                - 'null'
                              secretReminderRepeatDays:
                                type:
                                - number
                                - 'null'
                              skipMultilineEncoding:
                                type:
                                - boolean
                                - 'null'
                                default: false
                              createdAt:
                                type: string
                                format: date-time
                              updatedAt:
                                type: string
                                format: date-time
                              actor:
                                type:
                                - object
                                - 'null'
                                properties:
                                  actorId:
                                    type:
                                    - string
                                    - 'null'
                                  actorType:
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                  membershipId:
                                    type:
                                    - string
                                    - 'null'
                                  groupId:
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: false
                              isRotatedSecret:
                                type: boolean
                              rotationId:
                                type:
                                - string
                                - 'null'
                                format: uuid
                            required:
                            - id
                            - _id
                            - workspace
                            - environment
                            - version
                            - type
                            - secretKey
                            - secretValue
                            - secretComment
                            - createdAt
                            - updatedAt
                            additionalProperties: false
                      required:
                      - secretPath
                      - environment
                      - environmentInfo
                      - secrets
                      additionalProperties: false
                required:
                - secrets
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
[...]
