openapi: 3.0.3
info:
  title: Infisical Admin PKI Syncs API
  description: List of all available APIs that can be consumed
  version: 0.0.1
servers:
- url: https://us.infisical.com
  description: Production server (US)
- url: https://eu.infisical.com
  description: Production server (EU)
- url: http://localhost:8080
  description: Local server
tags:
- name: PKI Syncs
paths:
  /api/v1/cert-manager/syncs/options:
    get:
      operationId: listPkiSyncOptions
      tags:
      - PKI Syncs
      description: List the available PKI Sync Options.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pkiSyncOptions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        connection:
                          type: string
                          enum:
                          - github
                          - github-radar
                          - aws
                          - databricks
                          - gcp
                          - azure-key-vault
                          - azure-app-configuration
                          - azure-client-secrets
                          - azure-devops
                          - azure-adcs
                          - azure-dns
                          - humanitec
                          - terraform-cloud
                          - vercel
                          - postgres
                          - mssql
                          - mysql
                          - camunda
                          - windmill
                          - auth0
                          - hashicorp-vault
                          - ldap
                          - teamcity
                          - oci
                          - oracledb
                          - 1password
                          - heroku
                          - render
                          - flyio
                          - gitlab
                          - cloudflare
                          - dns-made-easy
                          - zabbix
                          - railway
                          - bitbucket
                          - checkly
                          - supabase
                          - digital-ocean
                          - netlify
                          - okta
                          - redis
                          - mongodb
                          - laravel-forge
                          - chef
                          - northflank
                          - octopus-deploy
                          - ssh
                          - dbt
                          - smb
                          - open-router
                          - circleci
                          - azure-entra-id
                          - venafi
                          - venafi-tpp
                          - external-infisical
                          - doppler
                          - netscaler
                          - anthropic
                          - ovh
                          - devin
                          - ona
                          - digicert
                          - travis-ci
                          - salesforce
                          - snowflake
                          - datadog
                          - f5-big-ip
                          - godaddy
                          - convex
                        destination:
                          type: string
                          enum:
                          - azure-key-vault
                          - aws-certificate-manager
                          - aws-secrets-manager
                          - aws-elastic-load-balancer
                          - chef
                          - cloudflare-custom-certificate
                          - netscaler
                          - f5-big-ip
                        canImportCertificates:
                          type: boolean
                        canRemoveCertificates:
                          type: boolean
                        defaultCertificateNameSchema:
                          type: string
                        forbiddenCharacters:
                          type: string
                        allowedCharacterPattern:
                          type: string
                        maxCertificateNameLength:
                          type: number
                        minCertificateNameLength:
                          type: number
                      required:
                      - name
                      - connection
                      - destination
                      - canImportCertificates
                      - canRemoveCertificates
                      additionalProperties: false
                required:
                - pkiSyncOptions
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs:
    get:
      operationId: listPkiSyncs
      tags:
      - PKI Syncs
      description: List all the PKI Syncs for the specified project.
      parameters:
      - schema:
          type: string
          format: uuid
        in: query
        name: certificateId
        required: false
      - schema:
          type: string
          format: uuid
        in: query
        name: applicationId
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pkiSyncs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        destination:
                          type: string
                          enum:
                          - azure-key-vault
                          - aws-certificate-manager
                          - aws-secrets-manager
                          - aws-elastic-load-balancer
                          - chef
                          - cloudflare-custom-certificate
                          - netscaler
                          - f5-big-ip
                        isAutoSyncEnabled:
                          type: boolean
                        destinationConfig:
                          type: object
                          additionalProperties: {}
                        syncOptions:
                          type: object
                          additionalProperties: {}
                        applicationId:
                          type: string
                          format: uuid
                          nullable: true
                        subscriberId:
                          type: string
                          format: uuid
                          nullable: true
                        connectionId:
                          type: string
                          format: uuid
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        syncStatus:
                          type: string
                          nullable: true
                        lastSyncJobId:
                          type: string
                          nullable: true
                        lastSyncMessage:
                          type: string
                          nullable: true
                        lastSyncedAt:
                          type: string
                          format: date-time
                          nullable: true
                        importStatus:
                          type: string
                          nullable: true
                        lastImportJobId:
                          type: string
                          nullable: true
                        lastImportMessage:
                          type: string
                          nullable: true
                        lastImportedAt:
                          type: string
                          format: date-time
                          nullable: true
                        removeStatus:
                          type: string
                          nullable: true
                        lastRemoveJobId:
                          type: string
                          nullable: true
                        lastRemoveMessage:
                          type: string
                          nullable: true
                        lastRemovedAt:
                          type: string
                          format: date-time
                          nullable: true
                        appConnectionName:
                          type: string
                        appConnectionApp:
                          type: string
                        connection:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            app:
                              type: string
                            encryptedCredentials:
                              nullable: true
                            orgId:
                              type: string
                              format: uuid
                            method:
                              type: string
                            description:
                              type: string
                              nullable: true
                            version:
                              type: number
                            gatewayId:
                              type: string
                              format: uuid
                              nullable: true
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            isPlatformManagedCredentials:
                              type: boolean
                              nullable: true
                          required:
                          - id
                          - name
                          - app
                          - orgId
                          - method
                          - version
                          - createdAt
                          - updatedAt
                          additionalProperties: false
                        subscriber:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                          - name
                          additionalProperties: false
                          nullable: true
                        hasCertificate:
                          type: boolean
                      required:
                      - id
                      - name
                      - destination
                      - isAutoSyncEnabled
                      - destinationConfig
                      - syncOptions
                      - connectionId
                      - createdAt
                      - updatedAt
                      - appConnectionName
                      - appConnectionApp
                      - connection
                      additionalProperties: false
                required:
                - pkiSyncs
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs/{pkiSyncId}:
    get:
      operationId: getPkiSync
      tags:
      - PKI Syncs
      description: Get a PKI Sync by ID.
      parameters:
      - schema:
          type: string
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  destination:
                    type: string
                    enum:
                    - azure-key-vault
                    - aws-certificate-manager
                    - aws-secrets-manager
                    - aws-elastic-load-balancer
                    - chef
                    - cloudflare-custom-certificate
                    - netscaler
                    - f5-big-ip
                  isAutoSyncEnabled:
                    type: boolean
                  destinationConfig:
                    type: object
                    additionalProperties: {}
                  syncOptions:
                    type: object
                    additionalProperties: {}
                  applicationId:
                    type: string
                    format: uuid
                    nullable: true
                  subscriberId:
                    type: string
                    format: uuid
                    nullable: true
                  connectionId:
                    type: string
                    format: uuid
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  syncStatus:
                    type: string
                    nullable: true
                  lastSyncJobId:
                    type: string
                    nullable: true
                  lastSyncMessage:
                    type: string
                    nullable: true
                  lastSyncedAt:
                    type: string
                    format: date-time
                    nullable: true
                  importStatus:
                    type: string
                    nullable: true
                  lastImportJobId:
                    type: string
                    nullable: true
                  lastImportMessage:
                    type: string
                    nullable: true
                  lastImportedAt:
                    type: string
                    format: date-time
                    nullable: true
                  removeStatus:
                    type: string
                    nullable: true
                  lastRemoveJobId:
                    type: string
                    nullable: true
                  lastRemoveMessage:
                    type: string
                    nullable: true
                  lastRemovedAt:
                    type: string
                    format: date-time
                    nullable: true
                  appConnectionName:
                    type: string
                  appConnectionApp:
                    type: string
                  connection:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      app:
                        type: string
                      encryptedCredentials:
                        nullable: true
                      orgId:
                        type: string
                        format: uuid
                      method:
                        type: string
                      description:
                        type: string
                        nullable: true
                      version:
                        type: number
                      gatewayId:
                        type: string
                        format: uuid
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      isPlatformManagedCredentials:
                        type: boolean
                        nullable: true
                    required:
                    - id
                    - name
                    - app
                    - orgId
                    - method
                    - version
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                  subscriber:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                    - id
                    - name
                    additionalProperties: false
                    nullable: true
                  hasCertificate:
                    type: boolean
                required:
                - id
                - name
                - destination
                - isAutoSyncEnabled
                - destinationConfig
                - syncOptions
                - connectionId
                - createdAt
                - updatedAt
                - appConnectionName
                - appConnectionApp
                - connection
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs/{pkiSyncId}/certificates:
    get:
      operationId: listPkiSyncCertificates
      tags:
      - PKI Syncs
      description: List all certificates associated with a PKI Sync.
      parameters:
      - schema:
          type: number
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
      - schema:
          type: number
          minimum: 1
          maximum: 100
          default: 20
        in: query
        name: limit
        required: false
      - schema:
          type: string
          format: uuid
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        pkiSyncId:
                          type: string
                          format: uuid
                        certificateId:
                          type: string
                          format: uuid
                        syncStatus:
                          type: string
                          enum:
                          - pending
                          - syncing
                          - succeeded
                          - failed
                          - running
                        lastSyncMessage:
                          type: string
                          nullable: true
                        lastSyncedAt:
                          type: string
                          format: date-time
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        certificateSerialNumber:
                          type: string
                        certificateCommonName:
                          type: string
                        certificateAltNames:
                          type: string
                        certificateStatus:
                          type: string
                        certificateNotBefore:
                          type: string
                          format: date-time
                        certificateNotAfter:
                          type: string
                          format: date-time
                        certificateRenewBeforeDays:
                          type: number
                          nullable: true
                        certificateRenewalError:
                          type: string
                          nullable: true
                        pkiSyncName:
                          type: string
                        pkiSyncDestination:
                          type: string
                        syncMetadata:
                          type: object
                          properties:
                            isDefault:
                              type: boolean
                          additionalProperties: {}
                          nullable: true
                      required:
                      - id
                      - pkiSyncId
                      - certificateId
                      - syncStatus
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                  totalCount:
                    type: number
                required:
                - certificates
                - totalCount
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    post:
      operationId: addCertificatesToPkiSync
      tags:
      - PKI Syncs
      description: Add certificates to a PKI Sync.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                certificateIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
              required:
              - certificateIds
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  addedCertificates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        pkiSyncId:
                          type: string
                          format: uuid
                        certificateId:
                          type: string
                          format: uuid
                        syncStatus:
                          type: string
                          default: pending
                          nullable: true
                        lastSyncMessage:
                          type: string
                          nullable: true
                        lastSyncedAt:
                          type: string
                          format: date-time
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - pkiSyncId
                      - certificateId
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                required:
                - addedCertificates
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    delete:
      operationId: removeCertificatesFromPkiSync
      tags:
      - PKI Syncs
      description: Remove certificates from a PKI Sync.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                certificateIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
              required:
              - certificateIds
              additionalProperties: false
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  removedCount:
                    type: number
                required:
                - removedCount
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs/azure-key-vault:
    get:
      operationId: listAzureKeyVaultPkiSyncs
      tags:
      - PKI Syncs
      description: List the Azure Key Vault PKI Syncs for the specified project.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pkiSyncs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          maxLength: 256
                        description:
                          type: string
                          nullable: true
                        destination:
                          type: string
                          enum:
                          - azure-key-vault
                        isAutoSyncEnabled:
                          type: boolean
                        destinationConfig:
                          type: object
                          properties:
                            vaultBaseUrl:
                              type: string
                              format: uri
                          required:
                          - vaultBaseUrl
                          additionalProperties: false
                        syncOptions:
                          type: object
                          properties:
                            canImportCertificates:
                              type: boolean
                              default: false
                            canRemoveCertificates:
                              type: boolean
                              default: true
                            includeRootCa:
                              type: boolean
                              default: false
                            enableVersioning:
                              type: boolean
                              default: true
                            certificateNameSchema:
                              type: string
                          additionalProperties: false
                        subscriberId:
                          type: string
                          format: uuid
                          nullable: true
                        connectionId:
                          type: string
                          format: uuid
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        syncStatus:
                          type: string
                          nullable: true
                        lastSyncedAt:
                          type: string
                          format: date-time
                          nullable: true
                      required:
                      - id
                      - name
                      - destination
                      - isAutoSyncEnabled
                      - destinationConfig
                      - syncOptions
                      - connectionId
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                required:
                - pkiSyncs
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    post:
      operationId: createAzureKeyVaultPkiSync
      tags:
      - PKI Syncs
      description: Create a Azure Key Vault PKI Sync for the specified project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 256
                description:
                  type: string
                isAutoSyncEnabled:
                  type: boolean
                  default: true
                destinationConfig:
                  type: object
                  properties:
                    vaultBaseUrl:
                      type: string
                      format: uri
                  required:
                  - vaultBaseUrl
                  additionalProperties: false
                syncOptions:
                  type: object
                  properties:
                    canImportCertificates:
                      type: boolean
                      default: false
                    canRemoveCertificates:
                      type: boolean
                      default: true
                    includeRootCa:
                      type: boolean
                      default: false
                    enableVersioning:
                      type: boolean
                      default: true
                    certificateNameSchema:
                      type: string
                  additionalProperties: false
                  default: {}
                subscriberId:
                  type: string
                  nullable: true
                connectionId:
                  type: string
                applicationId:
                  type: string
                  format: uuid
                certificateIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
              - name
              - destinationConfig
              - connectionId
              additionalProperties: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                    maxLength: 256
                  description:
                    type: string
                    nullable: true
                  destination:
                    type: string
                    enum:
                    - azure-key-vault
                  isAutoSyncEnabled:
                    type: boolean
                  destinationConfig:
                    type: object
                    properties:
                      vaultBaseUrl:
                        type: string
                        format: uri
                    required:
                    - vaultBaseUrl
                    additionalProperties: false
                  syncOptions:
                    type: object
                    properties:
                      canImportCertificates:
                        type: boolean
                        default: false
                      canRemoveCertificates:
                        type: boolean
                        default: true
                      includeRootCa:
                        type: boolean
                        default: false
                      enableVersioning:
                        type: boolean
                        default: true
                      certificateNameSchema:
                        type: string
                    additionalProperties: false
                  subscriberId:
                    type: string
                    format: uuid
                    nullable: true
                  connectionId:
                    type: string
                    format: uuid
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  syncStatus:
                    type: string
                    nullable: true
                  lastSyncedAt:
                    type: string
                    format: date-time
                    nullable: true
                required:
                - id
                - name
                - destination
                - isAutoSyncEnabled
                - destinationConfig
                - syncOptions
                - connectionId
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs/azure-key-vault/{pkiSyncId}:
    get:
      operationId: getAzureKeyVaultPkiSync
      tags:
      - PKI Syncs
      description: Get the specified Azure Key Vault PKI Sync by ID.
      parameters:
      - schema:
          type: string
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                    maxLength: 256
                  description:
                    type: string
                    nullable: true
                  destination:
                    type: string
                    enum:
                    - azure-key-vault
                  isAutoSyncEnabled:
                    type: boolean
                  destinationConfig:
                    type: object
                    properties:
                      vaultBaseUrl:
                        type: string
                        format: uri
                    required:
                    - vaultBaseUrl
                    additionalProperties: false
                  syncOptions:
                    type: object
                    properties:
                      canImportCertificates:
                        type: boolean
                        default: false
                      canRemoveCertificates:
                        type: boolean
                        default: true
                      includeRootCa:
                        type: boolean
                        default: false
                      enableVersioning:
                        type: boolean
                        default: true
                      certificateNameSchema:
                        type: string
                    additionalProperties: false
                  subscriberId:
                    type: string
                    format: uuid
                    nullable: true
                  connectionId:
                    type: string
                    format: uuid
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  syncStatus:
                    type: string
                    nullable: true
                  lastSyncedAt:
                    type: string
                    format: date-time
                    nullable: true
                required:
                - id
                - name
                - destination
                - isAutoSyncEnabled
                - destinationConfig
                - syncOptions
                - connectionId
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    patch:
      operationId: updateAzureKeyVaultPkiSync
      tags:
      - PKI Syncs
      description: Update the specified Azure Key Vault PKI Sync.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 256
                description:
                  type: string
                isAutoSyncEnabled:
                  type: boolean
                destinationConfig:
                  type: object
                  properties:
                    vaultBaseUrl:
                      type: string
                      format: uri
                  required:
                  - vaultBaseUrl
                  additionalProperties: false
                syncOptions:
                  type: object
                  properties:
                    canImportCertificates:
                      type: boolean
                      default: false
                    canRemoveCertificates:
                      type: boolean
                      default: true
                    includeRootCa:
                      type: boolean
                      default: false
                    enableVersioning:
                      type: boolean
                      default: true
                    certificateNameSchema:
                      type: string
                  additionalProperties: false
                subscriberId:
                  type: string
                  nullable: true
                connectionId:
                  type: string
              additionalProperties: false
      parameters:
      - schema:
          type: string
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                    maxLength: 256
                  description:
                    type: string
                    nullable: true
                  destination:
                    type: string
                    enum:
                    - azure-key-vault
                  isAutoSyncEnabled:
                    type: boolean
                  destinationConfig:
                    type: object
                    properties:
                      vaultBaseUrl:
                        type: string
                        format: uri
                    required:
                    - vaultBaseUrl
                    additionalProperties: false
                  syncOptions:
                    type: object
                    properties:
                      canImportCertificates:
                        type: boolean
                        default: false
                      canRemoveCertificates:
                        type: boolean
                        default: true
                      includeRootCa:
                        type: boolean
                        default: false
                      enableVersioning:
                        type: boolean
                        default: true
                      certificateNameSchema:
                        type: string
                    additionalProperties: false
                  subscriberId:
                    type: string
                    format: uuid
                    nullable: true
                  connectionId:
                    type: string
                    format: uuid
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  syncStatus:
                    type: string
                    nullable: true
                  lastSyncedAt:
                    type: string
                    format: date-time
                    nullable: true
                required:
                - id
                - name
                - destination
                - isAutoSyncEnabled
                - destinationConfig
                - syncOptions
                - connectionId
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
    delete:
      operationId: deleteAzureKeyVaultPkiSync
      tags:
      - PKI Syncs
      description: Delete the specified Azure Key Vault PKI Sync.
      parameters:
      - schema:
          type: string
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                    maxLength: 256
                  description:
                    type: string
                    nullable: true
                  destination:
                    type: string
                    enum:
                    - azure-key-vault
                  isAutoSyncEnabled:
                    type: boolean
                  destinationConfig:
                    type: object
                    properties:
                      vaultBaseUrl:
                        type: string
                        format: uri
                    required:
                    - vaultBaseUrl
                    additionalProperties: false
                  syncOptions:
                    type: object
                    properties:
                      canImportCertificates:
                        type: boolean
                        default: false
                      canRemoveCertificates:
                        type: boolean
                        default: true
                      includeRootCa:
                        type: boolean
                        default: false
                      enableVersioning:
                        type: boolean
                        default: true
                      certificateNameSchema:
                        type: string
                    additionalProperties: false
                  subscriberId:
                    type: string
                    format: uuid
                    nullable: true
                  connectionId:
                    type: string
                    format: uuid
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  syncStatus:
                    type: string
                    nullable: true
                  lastSyncedAt:
                    type: string
                    format: date-time
                    nullable: true
                required:
                - id
                - name
                - destination
                - isAutoSyncEnabled
                - destinationConfig
                - syncOptions
                - connectionId
                - createdAt
                - updatedAt
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs/azure-key-vault/{pkiSyncId}/sync:
    post:
      operationId: syncAzureKeyVaultPkiSync
      tags:
      - PKI Syncs
      description: Trigger a sync for the specified Azure Key Vault PKI Sync.
      parameters:
      - schema:
          type: string
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs/azure-key-vault/{pkiSyncId}/remove-certificates:
    post:
      operationId: removeAzureKeyVaultPkiSyncCertificates
      tags:
      - PKI Syncs
      description: Remove certificates from the specified Azure Key Vault PKI Sync destination.
      parameters:
      - schema:
          type: string
        in: path
        name: pkiSyncId
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 400
                  message:
                    type: string
                  error:
                    type: string
                  details: {}
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 401
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                  details: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 404
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
        '422':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 422
                  message: {}
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reqId:
                    type: string
                  statusCode:
                    type: number
                    enum:
                    - 500
                  message:
                    type: string
                  error:
                    type: string
                required:
                - reqId
                - statusCode
                - message
                - error
                additionalProperties: false
  /api/v1/cert-manager/syncs/aws-certificate-manager:
    get:
      operationId: listAwsCertificateManagerPkiSyncs
      tags:
      - PKI Syncs
      description: List the AWS Certificate Manager PKI Syncs for the specified project.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pkiSyncs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          maxLength: 256
                        description:
                          type: string
                          nullable: true
                        destination:
                          type: string
                          enum:
                          - aws-certificate-manager
                        isAutoSyncEnabled:
                          type: boolean
                        destinationConfig:
                          type: object
                          properties:
                            region:
                              type: string
                              enum:
                              - us-east-1
                              - us-east-2
                              - us-west-1
                              - us-west-2
                              - us-gov-east-1
                              - us-gov-west-1
                              - af-south-1
                              - ap-east-1
                              - ap-south-1
                              - ap-south-2
                              - ap-northeast-1
                              - ap-northeast-2
                              - ap-northeast-3
                              - ap-southeast-1
                              - ap-southeast-2
                              - ap-southeast-3
                              - ap-southeast-4
                              - ca-central-1
                              - eu-central-1
                              - eu-central-2
                              - eu-west-1
                              - eu-west-2
                              - eu-west-3
                              - eu-south-1
                              - eu-south-2
                              - eu-north-1
                              - me-south-1
                              - me-central-1
                              - sa-east-1
                          required:
                          - region
                          additionalProperties: false
                        syncOptions:
                          type: object
                          properties:
                            canImportCertificates:
                              type: boolean
                              default: false
                            canRemoveCertificates:
                              type: boolean
                              default: true
                            includeRootCa:
[...]
